<!--
 | @author xiangqian
 | @date 20:20 2023/05/16
 |-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/favicon.ico">
    <link rel="stylesheet" href="/static/custom/custom.css" type="text/css"/>
    <title>{{ Localize "i18n.dataNotExist" }}</title>
</head>
<body>

<content>
    <p style="color: red;">{{ .resp.Msg }}</p>
    <p style="font-size: 26px">{{ Localize "i18n.dataNotExist" }}</p>
</content>

</body>
</html>