/**
 * body
 * @author xiangqian
 * @date 20:02 2023/07/10
 */

body {
    min-height: 100%;
    padding: 5px 10px 10px 10px;
    font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    word-break: keep-all;
    display: block;
}

body a {
    padding: 0;
    margin: 0;
    /* 去掉<a>标签文本下划线 */
    text-decoration: none;
}

body button {
    /* 鼠标经过或点击显示小手样式 */
    cursor: pointer
}

body > msg {
    padding-bottom: 10px;
    display: block;
    color: red;
}

body > msg:empty {
    padding-bottom: 0px;
}

body > form table {
    border-collapse: collapse;
}

body > form table tbody tr td {
    padding-right: 20px;
}

body > form input[type="submit"] {
    cursor: pointer
}

body > form input[name="name"] {
    width: 200px;
}

body > form input[name="nickname"] {
    width: 200px;
}

body > form input[name="passwd"] {
    width: 200px;
}

body > form input[name="rePasswd"] {
    width: 200px;
}

body > form input[name="origPasswd"] {
    width: 200px;
}

body > form input[name="newPasswd"] {
    width: 200px;
}

body > form input[name="reNewPasswd"] {
    width: 200px;
}

body > form textarea[name="rem"] {
    width: 200px;
    height: 60px;
}

body > table {
    border-collapse: collapse;
}

body > table thead td {
    font-weight: bold;
    height: 50px;
    border-bottom: 2px solid #CCCCCC;
}

body > table thead th:last-child {
    border-right: none;
}

body > table tbody {
}

body > table tbody tr td {
    padding-right: 20px;
    height: 40px;
    border-bottom: 1px solid #CCCCCC;
}

body > table tbody tr td:last-child {
    border-right: none;
}

/* 鼠标经过显示背景颜色 */
body > table tbody tr:hover {
    background-color: #CCCCCC;
}

/* 鼠标经过显示operate */
body > table tbody tr:hover .op {
    display: block;
}

body > table tfoot tr td {
    padding: 10px;
}

body > table tfoot tr:first-child td {
    padding-top: 20px;
}

body > table tfoot tr td span {
    margin-right: 10px;
}

body ul.menu {
    list-style: none;
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    display: none;
    position: absolute;
}

body ul.menu li:hover {
    background: skyblue;
}

.table-overlay {
    position: relative;
}

.table-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.table-overlay.loading::after {
    content: "数据加载中...";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #888;
}

.overlay {
    /* rgba函数中的最后一个浮点数值为透明度，0为完全透明，1为完全不透明 */
    background-color: rgba(0, 0, 0, 0);
    /* 让遮罩层始终固定在页面的最上方 */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}


/* operate样式 */
body .op {
    display: none;
    text-decoration: none;
}

body .index {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
