/**
 * cbody
 * @author xiangqian
 * @date 20:05 2023/07/10
 */

cbody {
    display: block;
    padding-bottom: 20px;
}

cbody msg {
    display: block;
    color: red;
}

cbody textarea[name="rem"] {
    width: 200px;
    height: 60px;
}

cbody form input[type="text"], input[type="password"] {
    width: 200px;
}

/* 去除td之间的空格 */
cbody table {
    border-collapse: collapse;
}

cbody table tbody td {
    padding-right: 20px;
}

/* operate样式 */
cbody .op {
    display: none;
    text-decoration: none;
}

/*
鼠标移动tr样式
onmouseover: "this.style.backgroundColor='#D3D3D3'";
onmouseout: "this.style.backgroundColor='#FFFFFF'";
 */
cbody table tbody tr:hover {
    background-color: #D3D3D3;
}

/* 鼠标移动tr显示operate */
cbody table tbody tr:hover .op {
    display: block;
}

cbody .index {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
