/**
 * @author xiangqian
 * @date 22:37 2023/10/15
 */

body table {
    border-collapse: collapse;
}

body table thead td {
    font-weight: bold;
    height: 50px;
    border-bottom: 2px solid #CCCCCC;
}

body table thead th:last-child {
    border-right: none;
}

body table tbody {
}

body table tbody tr td {
    padding-right: 20px;
    height: 40px;
    border-bottom: 1px solid #CCCCCC;
}

body table tbody tr td:last-child {
    border-right: none;
}

/* 鼠标经过显示背景颜色 */
body table tbody tr:not([name='noData']):hover {
    background-color: #CCCCCC;
}

body table tfoot tr td {
    padding: 20px;
}

body table tfoot tr td span {
    padding-left: 10px;
}

body table form {
    /* 设置为行内元素显示 */
    display: inline;
}

body table form input {
    width: 200px;
}

body > div {
    display: none;
    position: absolute;
}

/* 遮罩层 */
body > div::before {
    content: "";
    /* 让遮罩层始终固定在页面的最上方 */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
    /* rgba函数中的最后一个浮点数值为透明度，0为完全透明，1为完全不透明 */
    background-color: rgba(0, 0, 0, 0.2);
    opacity: .3;
}

body > div > ul {
    list-style: none;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    display: none;
    /* 让遮罩层始终固定在页面的最上方 */
    position: fixed;
    z-index: 2;
    border-radius: 5px;
}

body > div > ul li:hover {
    background: #CCCCCC;
}
