<!--
 | @author xiangqian
 | @date 11:49 2023/02/12
 |-->
<!DOCTYPE html>
<html lang="en" url="{{ .url }}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/custom.css" type="text/css"/>
    <title>{{ Localize "i18n.img" }}</title>
</head>
<body>

{{ template "common/header.html" . }}

<content>
    <!-- response message -->
    <p style="color: red;">{{ .resp.Msg }}</p>

    <!-- response data -->
    <!-- 变量赋值 -->
    {{ $data := .resp.Data }}
    {{ $img := $data.img }} <!-- img query -->
    {{ $types := $data.types }}
    {{ $page := $data.page }}
    {{ $imgs := $page.Data }}

    <p>
        <span>
            ID: <input search="id" type="text" size="5" value="{{ if gt $img.Id 0 }}{{ $img.Id }}{{ end }}"
                       oninput="this.value = this.value.replace(/^(0+)|[^0-9]+/g, '');">&nbsp;&nbsp;
            {{ Localize "i18n.name" }}: <input search="name" type="text" size="15" value="{{ $img.Name }}">&nbsp;&nbsp;
            {{ Localize "i18n.type" }}: <select search="type">
                <option value=""></option>
                {{ $len := len $types }}
                {{ if gt $len 0 }}
                {{ range $index,$type := $types }}
                <option value="{{ $type }}" {{ if eq $img.Type $type }}selected{{ end }}>{{ $type }}</option>
                {{ end }}
                {{ end }}
            </select>&nbsp;&nbsp;
             {{ Localize "i18n.deleted" }}: <input search="deleted"
                                                   type="checkbox"
                                                   {{ if ne $img.Del 0 }}checked{{ end }}/>&nbsp;&nbsp;
            <button search="search">{{ Localize "i18n.search" }}</button>&nbsp;
            <a href="/img/list?t={{ NowUnix }}"><button>{{ Localize "i18n.reset" }}</button></a>
        </span>
    </p>

    <table border="1" cellspacing="0" cellpadding="10" align="center">
        <thead>
        <tr>
            <td>{{ Localize "i18n.no." }}</td>
            <td>{{ Localize "i18n.name" }}</td>
            <td>{{ Localize "i18n.type" }}</td>
            <td>{{ Localize "i18n.size" }}</td>
            <td>{{ Localize "i18n.addTime" }}</td>
            <td>{{ Localize "i18n.updTime" }}</td>
            <td colspan="3">{{ Localize "i18n.op" }}</td>
        </tr>
        </thead>
        <tbody>
        {{ $len := len $imgs }}
        {{ if gt $len 0 }}
        {{ range $index,$img := $imgs }}
        <tr img-id="{{ $img.Id }}"
            img-name="{{ $img.Name }}"
            img-type="{{ $img.Type }}"
            {{ if ne $img.Del 0 }}class="gray" {{ end }}>
            <td>{{ No_ $page $index }}</td>
            <td>
                {{ if eq $img.Del 0 }}
                <a href="/img/{{ $img.Id }}/view?t={{ NowUnix }}" target="_blank">{{ $img.Name }}</a>
                {{ else }}
                <span>{{ $img.Name }}</span>
                {{ end }}
            </td>
            <td>{{ $img.Type }}</td>
            <td>{{ HumanizFileSize $img.Size }}</td>
            <td>{{ HumanizUnix $img.AddTime }}</td>
            <td>{{ HumanizUnix $img.UpdTime }}</td>
            {{ if ne $img.Del 0 }}
            <td>
                <button restore>{{ Localize "i18n.restore" }}</button>
            </td>
            <td colspan="2">
                <button permly-del>{{ Localize "i18n.permlyDel" }}</button>
            </td>
            {{ else }}
            <td>
                <button copy>{{ Localize "i18n.copy" }} URL</button>
            </td>
            <td>
                <button rename>{{ Localize "i18n.rename" }}</button>
            </td>
            <td>
                <button del>{{ Localize "i18n.del" }}</button>
            </td>
            {{ end }}
        </tr>
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="9">{{ Localize "i18n.noData" }}</td>
        </tr>
        {{ end }}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="9">
                <span style="margin-right: 10px">{{ Localize "i18n.page.current" }}: {{ $page.Current }}</span>
                <span style="margin-right: 10px">{{ Localize "i18n.page.size" }}: {{ $page.Size }}</span>
                <span style="margin-right: 10px">{{ Localize "i18n.pages" }}: {{ $page.Pages }}</span>
                <span style="margin-right: 20px">{{ Localize "i18n.total" }}: {{ $page.Total }}</span>
                <span style="margin-right: 10px">
                    {{ if le $page.Current 1 }}
                    {{ Localize "i18n.prevPage" }}
                    {{ else }}
                    <a href="/img/list?id={{ $img.Id }}&name={{ $img.Name }}&type={{ $img.Type }}&del={{ $img.Del }}&current={{ Add $page.Current -1 }}&t={{ NowUnix }}">{{ Localize "i18n.prevPage" }}</a>
                    {{  end }}
                </span>
                <span>
                    {{ if ge $page.Current $page.Pages }}
                    {{ Localize "i18n.nextPage" }}
                    {{ else }}
                    <a href="/img/list?id={{ $img.Id }}&name={{ $img.Name }}&type={{ $img.Type }}&del={{ $img.Del }}&current={{ Add $page.Current 1 }}&t={{ NowUnix }}">{{ Localize "i18n.nextPage" }}</a>
                    {{  end }}
                </span>
            </td>
        </tr>
        </tfoot>
    </table>
    {{ if eq $img.Del 0 }}
    <br>
    <br>
    <br>
    <div>
        <form action="/img/upload?t={{ NowUnix }}" method="POST" enctype="multipart/form-data">
            <input name="file" type="file"/>
            <button type="submit">{{ Localize "i18n.upload" }}</button>
        </form>
    </div>
    {{ end }}

</content>

{{ template "common/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/clipboard.js/clipboard.js"></script>
<script type="text/javascript" src="/static/custom/custom.js"></script>
<script type="text/javascript">

    ;(function () {

        // search
        ;(function () {
            let $search = $($('[search="search"]')[0])
            custom.clickE($search, function ($e) {
                let $id = $($('input[search="id"]')[0])
                let $name = $($('input[search="name"]')[0])
                let $type = $($('select[search="type"]')[0])
                let $deleted = $($('input[search="deleted"]')[0])

                let id = $id.val()
                let name = $name.val().trim()
                let type = $type.find("option:selected").text()
                let deleted = $deleted.is(":checked") ? 1 : 0

                return {
                    url: `/img/list?id=${id}&name=${name}&type=${type}&del=${deleted}`,
                    method: 'GET',
                }
            })
        })()

        function getImg($e) {
            let $tr = $($e.parents("tr:first")[0])
            let id = $tr.attr("img-id")
            let name = $tr.attr("img-name")
            let type = $tr.attr("img-type")

            return {
                id: id,
                name: name,
                type: type,
            }
        }

        // copy
        ;(function () {
            // 销毁 clipboard, 如果存在的话
            if (window.clipboard) {
                window.clipboard.destroy()
                window.clipboard = null
            }

            // clipboard
            let clipboard = new ClipboardJS('[copy]', {
                text: function (e) {
                    let $e = $(e)
                    let img = getImg($e)
                    // console.log(img)
                    return `![${img.name}](/img/${img.id})`
                },
            });

            // on success
            clipboard.on('success', function (e) {
                // console.info('Action:', e.action)
                // console.info('Text:', e.text)
                // console.info('Trigger:', e.trigger)
                alert('{{ Localize "i18n.copied" }}')
            });

            // on error
            clipboard.on('error', function (e) {
                // console.info('Action:', e.action)
                // console.info('Text:', e.text)
                // console.info('Trigger:', e.trigger)
                alert(e)
            });

            window.clipboard = clipboard
        })()

        // rename
        ;(function () {
            let renames = $('[rename]')
            for (let i = 0; i < renames.length; i++) {
                let $rename = $(renames[i])
                custom.clickE($rename, function ($e) {
                    let img = getImg($e)
                    let name = prompt('{{ Localize "i18n.name" }}', img.name)
                    if (!name || (name = name.trim()) === '') {
                        return
                    }

                    let data = new FormData();
                    data.append('id', img.id)
                    data.append('name', name)
                    return {
                        url: '/img/name',
                        method: 'PUT',
                        data: data
                    }
                })
            }
        })()

        // del
        ;(function () {
            let dels = $('[del]')
            for (let i = 0; i < dels.length; i++) {
                let $del = $(dels[i])
                custom.clickE($del, function ($e) {
                    let img = getImg($e)
                    if (!confirm('{{ Localize "i18n.del" }} ' + `"${img.name}" ?`)) {
                        return
                    }

                    return {
                        url: `/img/${img.id}`,
                        method: 'DELETE',
                    }
                })
            }
        })()

        // restore
        ;(function () {
            let restores = $('[restore]')
            for (let i = 0; i < restores.length; i++) {
                let $restore = $(restores[i])
                custom.clickE($restore, function ($e) {
                    let img = getImg($e)
                    if (!confirm('{{ Localize "i18n.restore" }} ' + `"${img.name}" ?`)) {
                        return
                    }

                    return {
                        url: `/img/${img.id}/restore`,
                        method: 'PUT',
                    }
                })
            }
        })()

        // permly-del
        ;(function () {
            let permlyDels = $('[permly-del]')
            for (let i = 0; i < permlyDels.length; i++) {
                let $permlyDel = $(permlyDels[i])
                custom.clickE($permlyDel, function ($e) {
                    let img = getImg($e)
                    if (!confirm('{{ Localize "i18n.permlyDel" }} ' + `"${img.name}" ?`)) {
                        return
                    }

                    return {
                        url: `/img/${img.id}/permlyDel`,
                        method: 'DELETE',
                    }
                })
            }
        })()

    })()

</script>