<!--
 | @author xiangqian
 | @date 12:33 2023/02/12
 |-->
<!DOCTYPE html>
{{ $data := .resp.Data }}
<html lang="en" url="{{ .url }}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/custom.css" type="text/css"/>
    <title>{{ $data.Name }}</title>
</head>
<body>

<content>
    {{ if ne $data.Id 0 }}
    {{ template "common/float.html" . }}
    <div>
        <img src="{{ $data.Url }}" alt="{{ $data.Name }}">
    </div>
    {{ else }}
    <h3>{{ Localize "i18n.dataNotExist" }}</h3>
    {{ end }}
</content>

</body>
</html>
{{ if ne $data.Id 0 }}
<script type="text/javascript" src="/static/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/custom/custom.js"></script>
<script>

    ;(function () {
        let data = JSON.parse('{{ Serialize $data }}')
        custom.float('img', data)
    })()

</script>
{{ end }}
