<!--
 | @author xiangqian
 | @date 22:35 2023/06/13
 |-->
{{ define "index" }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="{{ .contextPath }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/body.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/foot2.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/foot1.css" type="text/css"/>
    <title>{{ Localize "i18n.index" .language }}</title>
    <style>
        .canvas {
            display: inline-block; /* 行内块 */
            width: 500px;
            height: 400px;
        }
    </style>
</head>
<body>
<msg>{{ .response.Msg }}</msg>
<div class="canvas">
    <canvas name="">你的浏览器不支持 canvas，请升级你的浏览器。</canvas>
</div>
</body>
{{ template "common/foot2" . }}
{{ template "common/foot1" . }}
</html>
<script type="text/javascript" src="{{ .contextPath }}/static/js/jquery.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/body.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/chart.js"></script>
<script type="text/javascript">
    ;
    (function () {
        // https://www.chartjs.org/
        // https://www.chartjs.org/docs/latest/samples/other-charts/pie.html
        // https://www.chartjs.org/docs/latest/charts/doughnut.html#pie
        // https://www.chartjs.org/docs/latest/configuration/tooltip.html

        /**
         * 人性化文件大小
         * @param size 文件大小，单位：byte
         */
        function humanizFileSize(size) {
            // B, Byte
            // 1B  = 8b
            // 1KB = 1024B
            // 1MB = 1024KB
            // 1GB = 1024MB
            // 1TB = 1024GB

            if (size <= 0) {
                return "0 B"
            }

            function format(num) {
                // Math.floor()，不四舍五入 ，向下取整
                return Math.floor(num * 100) / 100
            }

            // GB
            let gb = size / (1024 * 1024 * 1024)
            if (gb > 1) {
                return format(gb) + ' GB'
            }

            // MB
            let mb = size / (1024 * 1024)
            if (mb > 1) {
                return format(mb) + ' MB'
            }

            // KB
            let kb = size / 1024
            if (kb > 1) {
                return format(kb) + ' KB'
            }

            // B
            return size + ' B'
        }

        let i18n = {
            'note': '{{ Localize "i18n.note" .language }}',
            'image': '{{ Localize "i18n.image" .language }}',
            'audio': '{{ Localize "i18n.audio" .language }}',
            'video': '{{ Localize "i18n.video" .language }}',
        }

        let labels = []
        let data = []
        let statsArr = JSON.parse(`{{ .response.Data }}`)
        for (let i = 0; i < statsArr.length; i++) {
            let stats = statsArr[i]
            let type = stats.type
            let count = stats.count
            let size = stats.size
            let humanizSize = humanizFileSize(size)
            let countLabel = '{{ Localize "i18n.count" .language }}'
            let sizeLabel = '{{ Localize "i18n.size" .language }}'
            let label = `\t${countLabel}: ${count}\t\t\t${sizeLabel}: ${humanizSize}`
            stats.label = label

            labels.push(i18n[type])
            data.push(size)
        }

        let $canvas = $($('canvas')[0])
        let title = $canvas.attr('name')
        console.log($canvas)
        // return
        let chart = new Chart($canvas[0], {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: '',
                    data: data,
                    // backgroundColor: [ 'rgb(255, 99, 132)', 'rgb(54, 162, 235)' ],
                    hoverOffset: 4
                }],
            },
            options: {
                responsive: true, // 设置图表为响应式，根据屏幕窗口变化而变化
                maintainAspectRatio: false,// 保持图表原有比例
                plugins: {
                    legend: {
                        position: 'left'
                    },
                    title: {
                        display: true,
                        text: title
                    },

                    tooltip: {
                        // Namespace: options.plugins.tooltip.callbacks
                        callbacks: {
                            // 重新定义 label
                            // https://www.chartjs.org/docs/latest/configuration/tooltip.html
                            // https://www.chartjs.org/docs/latest/configuration/tooltip.html#label-callback
                            label: function (context) {
                                let dataIndex = context.dataIndex
                                let stats = statsArr[dataIndex]
                                let label = stats.label
                                return label
                            }
                        }
                    }
                },
            }
        })
    })()
</script>
{{ end }}