<!--
 | @author xiangqian
 | @date 22:35 2023/06/13
 |-->
{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="{{ .contextPath }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/body.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/foot2.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/foot1.css" type="text/css"/>
    <title>{{ Localize "i18n.index" .language }}</title>
</head>
<body>
<h2>Index of /lxc-images/images/ubuntu/bionic/</h2>
<h2>→</h2>
</body>
{{ template "common/foot2" . }}
{{ template "common/foot1" . }}
</html>
{{ end }}