<!--
 | @author xiangqian
 | @date 19:31 2023/02/14
 |-->
<!DOCTYPE html>
<html lang="en" uri="{{ .uri }}" url="{{ .url }}">
{{ $data := .resp.Data }}
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/custom.css" type="text/css"/>
    <title>{{ $data.Name }}</title>

    <style>
        .internal {
            width: 100%;
            height: 100%;
        }

        .container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>

    <style>
        .float {
            top: 80px;
            right: 60px;
        }
    </style>
</head>
<body>

<!--
<object class="internal container" data="{{ $data.Url }}" type="application/pdf">
    This browser does not support PDFs. Please download the PDF to view it:
    <a href="/note/{{ $data.Id }}/view">Download PDF</a>
</object>
-->
<embed class="internal container" title="214435" src="{{ $data.Url }}" type="application/pdf">

<div class="float">
    <p style="color: red;">{{ .resp.Msg }}</p>
    <br>
    {{ Localize "i18n.version" }}
    <select name="version">
        <option value="1.0">1.0</option>
        <option value="2.0">2.0</option>
    </select>
    <br>
    <br>
    <table border="1" cellspacing="0" cellpadding="10" align="center">
        <tbody>
        <tr>
            <td>{{ Localize "i18n.name" }}</td>
            <td>{{ $data.Name }}</td>
        </tr>
        <tr>
            <td>{{ Localize "i18n.path" }}</td>
            <td name="path"></td>
        </tr>
        <tr>
            <td>{{ Localize "i18n.type" }}</td>
            <td>{{ $data.Type }}</td>
        </tr>
        <tr>
            <td>{{ Localize "i18n.size" }}</td>
            <td>{{ HumanizFileSize $data.Size }}</td>
        </tr>
        <tr>
            <td>{{ Localize "i18n.addTime" }}</td>
            <td>{{ HumanizUnix $data.AddTime }}</td>
        </tr>
        <tr>
            <td>{{ Localize "i18n.updTime" }}</td>
            <td>{{ HumanizUnix $data.UpdTime }}</td>
        </tr>
        </tbody>
    </table>
    <br>

    <br>
</div>

</body>
</html>
<script type="text/javascript" src="/static/jquery/min.js"></script>
<script type="text/javascript" src="/static/custom/custom.js"></script>
<script>

    ;(function () {
        custom.note('{{ Serialize $data }}', '{{ .uri }}')

        let $embed = $($('embed')[0])
        // console.log($embed)
        // window._embed = $embed[0]
    })()

</script>