<!--
 | @author xiangqian
 | @date 21:02 2023/07/10
 |-->
{{ define "common/cfoot2.html" }}
<cfoot2>
    <p>Navigation
    <ul>
        <li><a href="#">Coffee</a></li>
        <li><a href="#">Tea</a></li>
        <li><a href="#">Milk</a></li>
    </ul>
    </p>
    <p>
        <span><a href="">User(Nickname)</a></span>
        <span style="padding-left: 10px">
            <a href="#" title='{{ Localize "i18n.signout" }}'>{{ Localize "i18n.signout" }}</a>
        </span>
    </p>
</cfoot2>
{{ end }}