<!--
 | @author xiangqian
 | @date 21:02 2023/07/10
 |-->
{{ define "common/foot2.html" }}
<foot2>
    <p>{{ Localize "i18n.navigation" }}
    <ul>
        <li><a href='{{ .path }}/?t={{ NowUnix }}'>{{ Localize "i18n.index" }}</a></li>
        <li><a href="">Tea</a></li>
        <li><a href="">Milk</a></li>
    </ul>
    </p>
    <p>
        <span><a href="">{{ .user.Name }} ( {{ .user.Nickname }} )</a></span>
        <span style="padding-left: 15px">
            <a href="{{ .path }}/user/signout?t={{ NowUnix }}">{{ Localize "i18n.signOut" }}</a>
        </span>
    </p>
</foot2>
{{ end }}