<!--
 | @author xiangqian
 | @date 12:13 2023/10/21
 |-->
{{ define "common/i18n" }}
<script type="text/javascript">
    let i18n = {}
    i18n.name = '{{ Localize "i18n.name" }}'
    i18n.add = '{{ Localize "i18n.add" }}'
    i18n.addFolder = '{{ Localize "i18n.addFolder" }}'
    i18n.addMdFile = '{{ Localize "i18n.addMdFile" }}'
    i18n.uploadFile = '{{ Localize "i18n.uploadFile" }}'
    i18n.upload = '{{ Localize "i18n.upload" }}'
    i18n.upd = '{{ Localize "i18n.upd" }}'
    i18n.rename = '{{ Localize "i18n.rename" }}'
    i18n.cut = '{{ Localize "i18n.cut" }}'
    i18n.paste = '{{ Localize "i18n.paste" }}'
    i18n.del = '{{ Localize "i18n.del" }}'
    i18n.restore = '{{ Localize "i18n.restore" }}'
    i18n.permlyDel = '{{ Localize "i18n.permlyDel" }}'
    i18n.close = '{{ Localize "i18n.close" }}'
</script>
{{ end }}