<!--
 | @author xiangqian
 | @date 22:37 2023/06/13
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="{{ .contextPath }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/body.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/form.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/foot1.css" type="text/css"/>
    <title>{{ Localize "i18n.signIn" }}</title>
</head>
<body>
<msg>{{ .resp.Msg }}</msg>
<form action="{{ .contextPath }}/user/signin?t={{ NowUnix }}" method="post">
    <input name="_method" type="hidden" value="POST">
    {{ $user := .resp.Data }}
    <table>
        <tbody>
        <tr>
            <td><span style="font-weight: bold;">*</span><label>{{ Localize "i18n.userName" }}</label></td>
            <td><input name="name" type="text" value="{{ $user.Name }}"></td>
        </tr>
        <tr>
            <td><span style="font-weight: bold;">*</span><label>{{ Localize "i18n.passwd" }}</label></td>
            <td><input name="passwd" type="password"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value='{{ Localize "i18n.signIn" }}'>
                <span><a style="padding-left: 10px" href="{{ .contextPath }}/user/signup?t={{ NowUnix }}">{{ Localize "i18n.signUp" }}</a></span>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
{{ template "common/foot1" . }}
</html>