<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiangqian.note.mapper.UserMapper">

    <update id="updById">
        UPDATE `user`
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">`name` = #{name},</if>
            <if test="passwd != null">`passwd` = #{passwd},</if>
            <if test="locked != null">`locked` = #{locked},</if>
            <if test="deny != null">`deny` = #{deny},</if>
            <if test="lastLoginHost != null">`last_login_host` = #{lastLoginHost},</if>
            <if test="lastLoginTime != null">`last_login_time` = #{lastLoginTime},</if>
            <if test="currentLoginHost != null">`current_login_host` = #{currentLoginHost},</if>
            <if test="currentLoginTime != null">`current_login_time` = #{currentLoginTime},</if>
            <if test="addTime != null">add_time = #{addTime},</if>
            <if test="updTime != null">upd_time = #{updTime},</if>
        </trim>
        WHERE `id` = #{id}
    </update>

    <select id="getByName" resultType="org.xiangqian.note.entity.UserEntity">
        SELECT u.`id`, u.`name`, u.`passwd`, u.`locked`, u.`deny`, u.`last_login_host`, u.`last_login_time`, u.`current_login_host`, u.`current_login_time`, u.`add_time`, u.`upd_time`
        FROM `user` u
        WHERE `name` = #{name}
        LIMIT 1
    </select>

</mapper>
