<!--
 | @author xiangqian
 | @date 21:11 2023/02/14
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/custom.css" type="text/css"/>
    <title>{{ Localize "i18n.edit" }}: {{ .img.Name }}</title>
</head>
<body>

<p style="color: red;">{{ .msg }}</p>

<form action="/img/reupload" method="POST" enctype="multipart/form-data">
    <input name="id" type="text" value="{{ .img.Id }}" hidden/>
    <input name="file" type="file"/>
    <button type="submit">{{ Localize "i18n.upload" }}</button>
</form>

</body>
</html>
<script type="text/javascript" src="/static/jquery-v3.6.2/min.js"></script>
<script type="text/javascript" src="/static/custom/custom.js"></script>