<!--
 | @author xiangqian
 | @date 11:49 2023/02/12
 |-->
<!DOCTYPE html>
<html lang="en" uri="{{ .uri }}" url="{{ .url }}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/custom.css" type="text/css"/>
    <title>{{ Localize "i18n.img" }}</title>
</head>
<body>

{{ template "common/header.html" . }}

<content>
    <!-- response message -->
    <p style="color: red;">{{ .resp.Msg }}</p>

    <!-- response data -->
    <!-- 变量赋值 -->
    {{ $data := .resp.Data }}

    <table border="1" cellspacing="0" cellpadding="10" align="center">
        <thead>
        <tr>
            <td>{{ Localize "i18n.no." }}</td>
            <td>{{ Localize "i18n.name" }}</td>
            <td>{{ Localize "i18n.type" }}</td>
            <td>{{ Localize "i18n.size" }}</td>
            <td>{{ Localize "i18n.addTime" }}</td>
            <td>{{ Localize "i18n.updTime" }}</td>
            <td colspan="3">{{ Localize "i18n.op" }}</td>
        </tr>
        </thead>
        <tbody>
        {{ $len := len $data.Data }}
        {{ if gt $len 0 }}
        {{ range $index,$e := $data.Data }}
        <tr>
            <td>{{ No_ $data $index }}</td>
            <td><a href="/img/{{ $e.Id }}/view?t={{ Timestamp }}" target="_blank">{{ $e.Name }}</a></td>
            <td>{{ $e.Type }}</td>
            <td>{{ HumanizFileSize $e.Size }}</td>
            <td>{{ HumanizUnix $e.AddTime }}</td>
            <td>{{ HumanizUnix $e.UpdTime }}</td>
            <td>
                <button name="copy" value="![{{ $e.Name }}](/img/{{ $e.Id }})">
                    {{ Localize "i18n.copy" }} URL
                </button>
            </td>
            <td>
                <a ajaxE href="/img/name" method="PUT" imgId="{{ $e.Id }}" imgName="{{ $e.Name }}">
                    <button>{{ Localize "i18n.rename" }}</button>
                </a>
            </td>
            <td>
                <a ajaxE href="/img/{{ $e.Id }}" method="DELETE"
                   confirm='{{ Localize "i18n.del" }} {{ $e.Name }} ?'>
                    <button>{{ Localize "i18n.del" }}</button>
                </a>
            </td>
        </tr>
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="9">{{ Localize "i18n.noData" }}</td>
        </tr>
        {{ end }}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="9">
                <span style="margin-right: 10px">{{ Localize "i18n.page.current" }}: {{ $data.Current }}</span>
                <span style="margin-right: 10px">{{ Localize "i18n.page.size" }}: {{ $data.Size }}</span>
                <span style="margin-right: 10px">{{ Localize "i18n.pages" }}: {{ $data.Pages }}</span>
                <span style="margin-right: 20px">{{ Localize "i18n.total" }}: {{ $data.Total }}</span>
                <span style="margin-right: 10px">
                    {{ if le $data.Current 1 }}
                    {{ Localize "i18n.prevPage" }}
                    {{ else }}
                    <a href="/img/list?current={{ Add $data.Current -1 }}">{{ Localize "i18n.prevPage" }}</a>
                    {{  end }}
                </span>
                <span>
                    {{ if ge $data.Current $data.Pages }}
                    {{ Localize "i18n.nextPage" }}
                    {{ else }}
                    <a href="/img/list?current={{ Add $data.Current 1 }}">{{ Localize "i18n.nextPage" }}</a>
                    {{  end }}
                </span>
            </td>
        </tr>
        </tfoot>
    </table>
    <br>
    <br>
    <br>

    <div>
        <form action="/img/upload" method="POST" enctype="multipart/form-data">
            <input name="file" type="file"/>
            <button type="submit">{{ Localize "i18n.upload" }}</button>
        </form>
    </div>

</content>

{{ template "common/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/jquery-v3.6.2/min.js"></script>
<script type="text/javascript" src="/static/clipboard-v2.0.11/min.js"></script>
<script type="text/javascript" src="/static/custom/custom.js"></script>
<script type="text/javascript">

    // rename
    ;(function () {
        // let $renames = $('a[href^="/file"][href$="/rename"]')
        let $renames = $('a[href="/img/name"]')
        for (let i = 0, len = $renames.length; i < len; i++) {
            $renames[i]['pre'] = function ($e) {
                let name = prompt('{{ Localize "i18n.name" }}', $e.attr('imgName'))
                if (name && (name = name.trim()) !== "") {
                    // console.log(name)
                    return {"id": $e.attr('imgId'), "name": name}
                }
                return null
            }
        }
    })()

    // copy
    ;(function () {
        // 销毁 clipboard, 如果存在的话
        if (window.clipboard) {
            window.clipboard.destroy()
            window.clipboard = null
        }

        // clipboard
        let clipboard = new ClipboardJS('button[name="copy"]', {
            text: function (elem) {
                let $elem = $(elem)
                return $elem.val();
            },
        });

        // on success
        clipboard.on('success', function (e) {
            // console.info('Action:', e.action)
            // console.info('Text:', e.text)
            // console.info('Trigger:', e.trigger)
            alert('{{ Localize "i18n.copied" }}')
        });

        // on error
        clipboard.on('error', function (e) {
            // console.info('Action:', e.action)
            // console.info('Text:', e.text)
            // console.info('Trigger:', e.trigger)
            alert(e)
        });

        window.clipboard = clipboard
    })()

</script>