<!--
 | @author xiangqian
 | @date 23:11 2023/01/01
 |-->

<!--
. 访问当前位置的上下文
$ 引用当前模板根级的上下文
$. 引用模板中的根级上下文
-->

{{ define "com/header.html" }}
<header>
    <div style="text-align: right; padding-right: 50px">
        <div style="padding: 4px;">
            <a href="/user/stgpage">{{ .user.Name }}, {{ .user.Nickname }}</a>
        </div>
        <div style="padding: 4px;">
            <a ajaxE href="/user/logout" method="POST">{{ Localize "i18n.logout" }}</a>
        </div>
    </div>
    <br>

    <div style="text-align: left; padding-left: 50px;">
        <a name="nav" style='padding: 8px;{{ if eq .url "/" }}background-color: lightgray;{{ end }}'
           href="/">{{ Localize "i18n.index" }}</a>
        <a name="nav" style='padding: 8px;{{ if eq .url "/img/listpage" }}background-color: lightgray;{{ end }}'
           href="/img/listpage">{{ Localize "i18n.img" }}</a>
        <a name="nav" style='padding: 8px;{{ if eq .url "/recyclebin/listpage" }}background-color: lightgray;{{ end }}'
           href="/recyclebin/listpage">{{ Localize "i18n.recycleBin" }}</a>
    </div>
    <br>
    <br>
</header>
{{ end }}