/**
 * @author xiangqian
 * @date 15:53 2023/05/03
 */

/* content */
content {
    flex: 1;
    text-align: center;
}

content table thead tr {
    background-color: #EEEEEE;
}

content table thead td {
    text-align: center;
}

/*
onmouseover: "this.style.backgroundColor='#D3D3D3'";
onmouseout: "this.style.backgroundColor='#FFFFFF'";
 */
content table tbody tr:hover {
    background-color: #D3D3D3;
}

content table tbody td {
    text-align: center;
}

content button, [type="submit"] {
    cursor: pointer
}

content textarea[name="rem"] {
    width: 300px;
    height: 100px;
}

content .float {
    position: fixed;
    top: 30px;
    right: 50px;
    width: auto;
    height: auto;
    background: white;
}

content .gray {
    color: gray
}