/**
 * @author xiangqian
 * @date 15:10 2022/12/24
 */
html {
    height: 90%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

header {
}

content {
    flex: 1;
}

content table thead tr {
    background-color: #EEEEEE;
}

/*
onmouseover: "this.style.backgroundColor='#D3D3D3'";
onmouseout: "this.style.backgroundColor='#FFFFFF'";
 */
content table tbody tr:hover {
    background-color: #D3D3D3;
}

footer {
    padding-top: 100px;
}

button {
    cursor: pointer
}

[type="submit"] {
    cursor: pointer
}

textarea[name="rem"] {
    width: 300px;
    height: 100px;
}

.float {
    position: fixed;
    top: 30px;
    right: 50px;
    width: auto;
    height: auto;
    background: white;
}