<!--
 | @author xiangqian
 | @date 23:11 2023/01/01
 |-->

<!--
. 访问当前位置的上下文
$ 引用当前模板根级的上下文
$. 引用模板中的根级上下文
-->

{{ define "common/header.html" }}
<header>
    <div style="text-align: right; padding-right: 50px">
        <div style="padding-top: 20px">
            <a style="text-decoration: none;"
               href="/user/settings?t={{ NowUnix }}">{{ .user.Name }}, {{ .user.Nickname }}</a>
        </div>
        <div style="padding-top: 10px">
            <a style="text-decoration: none;"
               href="/user/logout?t={{ NowUnix }}" method="POST">{{ Localize "i18n.logout" }}</a>
        </div>
    </div>
    <br>

    <div style="text-align: left; padding-left: 50px;">
        <a name="nav"
           style='text-decoration: none; padding: 8px;{{ if UriEqual .url "/" }}background-color: lightgray;{{ end }}'
           href="/?t={{ NowUnix }}">{{ Localize "i18n.index" }}</a>
        <a name="nav"
           style='text-decoration: none; padding: 8px;{{ if UriEqual .url "/note/list" }}background-color: lightgray;{{ end }}'
           href="/note/list?t={{ NowUnix }}">{{ Localize "i18n.note" }}</a>
        <a name="nav"
           style='text-decoration: none; padding: 8px;{{ if UriEqual .url "/lib/list" }}background-color: lightgray;{{ end }}'
           href="/lib/list?t={{ NowUnix }}">{{ Localize "i18n.lib" }}</a>
    </div>
    <br>
    <br>
</header>
{{ end }}