<!--
 | @author xiangqian
 | @date 18:02 2023/02/04
 |-->
<!DOCTYPE html>
<!-- 声明url变量 -->
{{ $url := "/file/list" }}
<!-- url -->
{{ Put . "url" "/" }}
<html lang="en" url="{{ .url }}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/min.css" type="text/css"/>
    <title>{{ Localize "i18n.imgLib" }}</title>
</head>
<body>

{{ template "com/header.html" . }}

<content>
    <!-- 没有消息就是最好的消息 -->
    <p style="color: red;">{{ .message }}</p>

    <table border="1" cellspacing="0" cellpadding="10" align="center">
        <thead>
        <tr>
            <td>{{ Localize "i18n.no." }}</td>
            <td>{{ Localize "i18n.name" }}</td>
            <td>{{ Localize "i18n.fileType" }}</td>
            <td>{{ Localize "i18n.fileSize" }}</td>
            <td>{{ Localize "i18n.rem" }}</td>
            <td>{{ Localize "i18n.addTime" }}</td>
            <td>{{ Localize "i18n.updTime" }}</td>
            <td colspan="2">{{ Localize "i18n.op" }}</td>
        </tr>
        </thead>
        <tbody>
        {{ $dataLen := len .page.Data }}
        {{ if gt $dataLen 0 }}
        {{ range $index,$value := .page.Data }}
        <tr>
            <td>{{ No_ $.page $index }}</td>
            <td>{{ $value.Name }}</td>
            <td>{{ $value.User }}</td>
            <td>******</td>
            <td>{{ $value.Rem }}</td>
            <td>{{ FormatUnix $value.AddTime }}</td>
            <td>{{ FormatUnix $value.UpdTime }}</td>
            <td>
                <a href="/git/addpage?id={{ $value.Id }}">
                    <button>{{ Localize "i18n.upd" }}</button>
                </a>
            </td>
            <td>
                <a href="/git/{{ $value.Id }}" method="DELETE" confirm='{{ Localize "i18n.del" }} {{ $value.Name }}?'>
                    <button>{{ Localize "i18n.del" }}</button>
                </a>
            </td>
        </tr>
        {{ end }}
        {{ else }}
        <tr>
            <td colspan="{{ .colspan }}">{{ Localize "i18n.noData" }}</td>
        </tr>
        {{ end }}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="{{ .colspan }}">
                <span style="margin-right: 10px">{{ Localize "i18n.current" }}: {{ .page.Current }}</span>
                <span style="margin-right: 10px">{{ Localize "i18n.size" }}: {{ .page.Size }}</span>
                <span style="margin-right: 10px">{{ Localize "i18n.pages" }}: {{ .page.Pages }}</span>
                <span style="margin-right: 20px">{{ Localize "i18n.total" }}: {{ .page.Total }}</span>
                <span style="margin-right: 10px">
                    {{ if le .page.Current 1 }}
                    {{ Localize "i18n.prevPage" }}
                    {{ else }}
                    <a href=' PageUrl .pageUrl .page.Current "prev" '>{{ Localize "i18n.prevPage" }}</a>
                    {{  end }}
                </span>
                <span>
                    {{ if ge .page.Current .page.Pages }}
                    {{ Localize "i18n.nextPage" }}
                    {{ else }}
                    <a href=' PageUrl .pageUrl .page.Current "next" '>{{ Localize "i18n.nextPage" }}</a>
                    {{  end }}
                </span>
            </td>
        </tr>
        </tfoot>
    </table>

    <br>
    <br>
    <div>
        <a href="/git/addpage">{{ Localize "i18n.add" }} →</a>
    </div>

</content>

{{ template "com/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/jquery-v3.6.2/min.js"></script>
<script type="text/javascript" src="/static/custom/min.js"></script>