<!--
 | @author xiangqian
 | @date 13:29 2023/12/30
 |-->
{{ define "audio/view" }}
{{ $table := .response.Data.table }}
{{ $data := .response.Data.data }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="{{ .contextPath }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/body.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/float.css" type="text/css"/>
    <title>{{ $data.Name }}</title>
</head>
<body>
{{ template "common/float" . }}
<audio controls>
    <source src="{{ .contextPath }}/{{ $table }}/{{ $data.Id }}?t={{ NowUnix }}">
    Your browser does not support the audio element.
</audio>
</body>
</html>
<script type="text/javascript" src="{{ .contextPath }}/static/js/jquery.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/body.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/float.js"></script>
{{ end }}
