<!--
 | @author xiangqian
 | @date 20:27 2023/12/16
 |-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/markdown-it/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/markdown-it/highlight.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/markdown-it/markdown.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/custom/note/md/view.css}">
    <title th:text="${name}"></title>
<body>
<!-- 目录 -->
<div class="col-xs-2 full-height">
    <div id="toc" class="full-height"></div>
</div>
<!-- 预览 -->
<div id="preview" class="col-xs-10 full-height">
    <div class="result-html full-height"></div>
</div>
<!-- 编辑页 -->
<div id="editor" class="full-height" style="display: none;">
    <textarea class="source full-height" th:text="${content}"></textarea>
</div>
</body>
</html>
<script type="text/javascript">
    ;
    window.contextPath = "[[${contextPath}]]";
    // console.log(window.contextPath);
    window.twemoji = {
        base: "[[${contextPath}]]/static/markdown-it/twemoji"
    };
    window.id = "[[${id}]]";
    // console.log(window.id);
</script>
<script type="text/javascript" th:src="@{/static/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/custom/http.js}"></script>
<script type="text/javascript" th:src="@{/static/custom/note/md/view.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/md5.js}"></script>
<script type="text/javascript" th:src="@{/static/custom/auto-save.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/lodash.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/markdown-it.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/twemoji.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/markdown-it-emoji.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/markdown-it-sub.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/markdown-it-sup.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/markdown-it-ins.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/markdown-it-mark.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/markdown-it-footnote.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/markdown-it-deflist.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/markdown-it-task-lists.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/markdown-it-anchor.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/markdown-it-toc-done-right.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/highlight.js}"></script>
<script type="text/javascript" th:src="@{/static/markdown-it/markdown.js}"></script>
<script type="text/javascript">
    ;
    $(function () {
        let url = window.contextPath + "/note/" + window.id + "/content";
        // console.log(url);

        let autoSave = new AutoSave(url, $("title"), $("textarea"));
        autoSave.start();
    });

</script>
