<!--
 | @author xiangqian
 | @date 20:33 2023/12/16
 |-->
{{ define "note/default/view" }}
{{ $table := .response.Data.table }}
{{ $data := .response.Data.data }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="{{ .contextPath }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/body.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/float.css" type="text/css"/>
    <title>{{ $data.Name }}</title>
</head>
<body>
{{ template "common/float" . }}
<!--
只有 Firefox 和 Chrome 支持 download 属性。
download 属性规定被下载的超链接目标。
该属性也可以设置一个值来规定下载文件的名称。所允许的值没有限制，浏览器将自动检测正确的文件扩展名并添加到文件 (.lib, .pdf, .txt, .html, 等等)。
-->
<a href="{{ .contextPath }}/{{ $table }}/{{ $data.Id }}?t={{ NowUnix }}" download="{{ $data.Name }}.{{ $data.Type }}">{{ Localize "i18n.download" .language }}</a>
</body>
</html>
<script type="text/javascript" src="{{ .contextPath }}/static/js/jquery.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/body.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/float.js"></script>
{{ end }}