<!--
 | @author xiangqian
 | @date 14:01 2024/03/02
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/css/body.css}" type="text/css"/>
    <title th:if="${vo.entity.id == 0}">/<th:block th:if="${vo.parameter.contain != null && vo.parameter.contain}">*</th:block></title>
    <title th:if="${vo.entity.id != 0}"><th:block th:each="p : ${vo.entity.ps}" th:text="${'/' + p.name}"></th:block><th:block th:text="${'/' + vo.entity.name}"></th:block><th:block th:if="${vo.parameter.contain != null && vo.parameter.contain}" th:text="${'/*'}"></th:block></title>
</head>
<body>
<error th:text="${error}"></error>
<content>
    <left>
        <h3 th:if="${vo.entity.id == 0}"><a th:href="@{'/note/0/list?t=' + ${timestamp}}">~</a>&nbsp;&nbsp;/<span th:if="${vo.parameter.contain != null && vo.parameter.contain}">*</span></h3>
        <h3 th:if="${vo.entity.id != 0}"><a th:href="@{'/note/0/list?t=' + ${timestamp}}">~</a>&nbsp;&nbsp;<span th:each="p : ${vo.entity.ps}">/<a th:href="@{'/note/' + ${p.id} + '/list?t=' + ${timestamp}}" th:text="${p.name}"></a></span><span>/<a th:href="@{'/note/' + ${vo.entity.id} + '/list?t=' + ${timestamp}}" th:text="${vo.entity.name}"></a></span><span th:if="${vo.parameter.contain != null && vo.parameter.contain}">/*</span></h3>
        <table>
            <thead>
            <tr>
                <td>名称</td>
                <td>类型</td>
                <td th:if="${vo.parameter.contain != null && vo.parameter.contain}">路径</td>
                <td>大小</td>
                <td>创建时间</td>
                <td>修改时间</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e : ${vo.data}" th:id="${e.id}" th:name="${e.name}" th:type="${e.type}">
                <td th:if="${e.type == 'folder'}"><a th:text="${e.name}" th:href="@{'/note/' + ${e.id} + '/list?t=' + ${timestamp}}"></a></td>
                <td th:if="${e.type != 'folder'}">
                    <span th:if="${e.type == 'zip'}" th:text="${e.name}"></span>
                    <a th:if="${e.type != 'zip'}" th:text="${e.name}" th:href="@{'/note/' + ${e.id} + '?t=' + ${timestamp}}"></a>
                </td>
                <td th:text="${e.type}"></td>
                <td th:if="${vo.parameter.contain != null && vo.parameter.contain}">
                    <span th:if="${e.pid == 0}">/</span>
                    <span th:if="${e.pid != 0}" th:each="p : ${e.ps}">/<a th:href="@{'/note/' + ${p.id} + '/list?t=' + ${timestamp}}" th:text="${p.name}"></a></span>
                </td>
                <td th:text="${T(org.xiangqian.note.util.OsUtil).humanByte(e.size, 'KB')}"></td>
                <td th:text="${T(org.xiangqian.note.util.DateUtil).humanSecond(e.addTime)}"></td>
                <td th:text="${T(org.xiangqian.note.util.DateUtil).humanSecond(e.updTime)}"></td>
                <td style="visibility: hidden;">
                    <a th:if="${e.type != 'folder'}" href="javascript:void(0);" download>下载</a>
                    <form th:if="${e.type != 'folder' && e.type != 'md'}" method="post" th:action="@{'/note/' + ${vo.entity.id} + '/reUploadFile?t=' + ${timestamp}}" class="aform border">
                        <input name="id" th:value="${e.id}" type="hidden">
                        <input name="file" type="file" required>
                        <button type="submit" reUpload>重新上传文件</button>
                    </form>
                    <form method="post" th:action="@{'/note/' + ${vo.entity.id} + '/rename?t=' + ${timestamp}}" class="aform">
                        <input name="_method" value="PUT" type="hidden">
                        <input name="id" th:value="${e.id}" type="hidden">
                        <input name="name" value="" type="hidden">
                        <button type="submit" rename>重命名</button>
                    </form>
                    <a href="javascript:void(0);" cut="0">剪切</a>
                    <form method="post" th:action="@{'/note/' + ${vo.entity.id} + '/' + ${e.id} + '?t=' + ${timestamp}}" class="aform">
                        <input name="_method" value="DELETE" type="hidden">
                        <input name="id" th:value="${e.id}" type="hidden">
                        <button type="submit" del>删除</button>
                    </form>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td th:colspan="${vo.parameter.contain != null && vo.parameter.contain ? 6 : 5}">
                    <form method="get" th:action="@{'/note/' + ${vo.parameter.id} + '/list'}">
                        <label>名称&nbsp;&nbsp;</label><input name="name" type="text" th:value="${vo.parameter.name}">
                        <label style="margin-left: 20px;">类型&nbsp;&nbsp;</label>
                        <select name="type">
                            <option></option>
                            <option th:each="type : ${vo.types}"
                                    th:value="${type}"
                                    th:text="${type}"
                                    th:selected="${type == vo.parameter.type}">
                            </option>
                        </select>
                        <input type="checkbox" name="contain" value="true" th:attr="checked=${vo.parameter.contain != null and vo.parameter.contain ? '' : null}" style="margin-left: 20px;"><label name="contain">&nbsp;包括子文件夹</label>
                        <input name="t" th:value="${timestamp}" type="hidden" style="margin-left: 20px;">
                        <button type="submit" style="margin-left: 20px;" search>搜索</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td th:colspan="${vo.parameter.contain != null && vo.parameter.contain ? 6 : 5}">
                    <span th:each="offset : ${vo.offsets}" th:with="disabled=${vo.offset.equals(offset)}">
                        <a th:if="${offset == null}">...</a>
                        <a th:if="${offset != null}"
                           th:href="@{'/note/' + ${vo.parameter.id} + '/list?name=' + ${vo.parameter.name != null ? vo.parameter.name : ''} + '&type=' + ${vo.parameter.type != null ? vo.parameter.type : ''} + ${vo.parameter.contain != null ? ('&contain=' + vo.parameter.contain) : ''} +'&offset=' + ${offset} + '&t=' + ${timestamp}}"
                           th:text="${offset}"
                           th:class="${disabled ? 'disabled' : ''}"
                           th:style="${disabled ? 'color: rgba(128, 128, 128, 0.6);' : ''}"></a>
                    </span>
                </td>
            </tr>
            </tfoot>
        </table>
    </left>
    <right>
        <form method="post" th:action="@{'/note/' + ${vo.entity.id} + '/addFolder?t=' + ${timestamp}}" class="aform" style="display: block; margin: 80px 10px 20px 10px;">
            <input name="name" value="" type="hidden">
            <button type="submit" addFolder>新建文件夹</button>
        </form>
        <form method="post" th:action="@{'/note/' + ${vo.entity.pid} + '/addMdFile?t=' + ${timestamp}}" class="aform" style="display: block; margin: 20px 10px 20px 10px;">
            <input name="name" value="" type="hidden">
            <button type="submit" addMdFile>新建Markdown文件</button>
        </form>
        <form method="post" th:action="@{'/note/uploadFile?t=' + ${timestamp}}" class="aform border" style="display: block; margin: 20px 10px 20px 10px;">
            <input name="pid" th:value="${vo.entity.pid}" type="hidden">
            <input name="file" type="file" required>
            <button type="submit" uploadFile>上传文件</button>
        </form>
        <form method="post" th:action="@{'/note/' + ${vo.entity.pid} + '/paste?t=' + ${timestamp}}" class="aform" style="display: block; margin: 20px 10px 20px 10px;">
            <input name="id" value="" type="hidden">
            <button type="submit" class="disabled" paste>粘贴</button>
        </form>
    </right>
</content>
<div th:replace="bottom"></div>
</body>
</html>
<script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/js/body.js}"></script>
<script type="text/javascript">
    ;
    $(function () {
        function add(event, message) {
            let name = prompt(message, '')

            // cancel
            if (name == null) {
                return false
            }

            name = name.trim()
            if (name === '') {
                return false
            }

            // 获取目标元素
            let $element = $(event.currentTarget)

            // 查找元素最近的父级<form>元素
            let $form = $element.closest('form')

            // 查找input[name="name"]元素
            let $name = $form.find('input[name="name"]')

            // 设置名称
            $name.val(name)

            return true
        }

        $('button[addFolder]').click(function (event) {
            return add(event, '新建文件夹')
        })

        $('button[addMdFile]').click(function (event) {
            return add(event, '新建Markdown文件')
        })

        function Note(id, name, type) {
            this.id = id
            this.name = name
            this.type = type
        }

        function getNote($element) {
            // 查找元素最近的父级<tr>元素
            let $tr = $element.closest('tr')

            let id = $tr.attr('id')
            let name = $tr.attr('name')
            let type = $tr.attr('type')
            return new Note(id, name, type)
        }

        // 点击文本时，选中或取消复选框
        let $contain = $('input[name="contain"]')
        $('label[name="contain"]').click(function (event) {
            $contain.prop('checked', function (i, value) {
                return !value;
            })
        })

        // 重命名
        $('button[rename]').click(function (event) {
            // 获取目标元素
            let $element = $(event.currentTarget)

            let note = getNote($element)
            let name = prompt(`重命名：${note.name} ？`, note.name)

            // cancel
            if (name == null) {
                return false
            }

            name = name.trim()
            if (name === '') {
                return false
            }

            // 查找元素最近的父级<form>元素
            let $form = $element.closest('form')

            // 查找input[name="name"]元素
            let $name = $form.find('input[name="name"]')

            // 设置名称
            $name.val(name)

            return true
        })

        // 设置剪切node
        function setCutNote(cutNode) {
            if (cutNode != null) {
                cutNode = JSON.stringify(cutNode)
            }
            localStorage.setItem('cutNode', cutNode)
        }

        // 获取剪切node
        function getCutNote() {
            let cutNode = localStorage.getItem('cutNode')
            if (cutNode == null) {
                return null
            }
            return JSON.parse(cutNode)
        }

        // 粘贴
        let $paste = $('button[paste]')
        $paste.click(function (event) {
            return false
        })

        // 剪切<tr>
        function cutTr(cutNode) {
            let $tr = $(`#${cutNode.id}`)
            $tr.addClass('cut')
            let $a = $tr.find('a[cut]')
            $a.attr('cut', '1')
            $a.text('取消剪切')

            // 启用按钮
            $paste.removeClass('disabled')
        }

        // 取消剪切<tr>
        function cancelCutTr() {
            let $trs = $('body > content > left > table tbody tr.cut')
            if ($trs.length > 0) {
                for (let i = 0, length = $trs.length; i < length; i++) {
                    let $tr = $($trs[i])
                    $tr.removeClass('cut')
                    let $a = $tr.find('a[cut]')
                    $a.attr('cut', '0')
                    $a.text('剪切')
                }
            }

            // 禁用按钮
            $paste.addClass('disabled')
        }

        let cutNode = getCutNote()
        if (cutNode != null) {
            cutTr(cutNode)
        }

        // 剪切
        $('a[cut]').click(function (event) {
            // 获取目标元素
            let $element = $(event.currentTarget)

            if ($element.attr('cut') === '1') {
                setCutNote(null)
                cancelCutTr()
                return false
            }

            let note = getNote($element)
            setCutNote(note)
            cancelCutTr()
            cutTr(note)
            return false
        })

        // 删除
        $('button[del]').click(function (event) {
            // 获取目标元素
            let $element = $(event.currentTarget)

            let note = getNote($element)
            if (confirm(`确定删除${note.type === 'folder' ? '目录' : '文件'}：${note.name} ？`)) {
                setCutNote(null)
                return true
            } else {
                return false
            }
        })
    })
    ;
</script>
