<!--
 | @author xiangqian
 | @date 15:39 2023/05/13
 |-->
<!DOCTYPE html>
<html lang="en" url="{{ .url }}">
{{ $data := .resp.Data }}
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/custom.css" type="text/css"/>
    <title>{{ $data.Name }}</title>
</head>
<body>

<!-- 浮动窗口 -->
<content>
    <p style="color: red;">{{ .resp.Msg }}</p>
    {{ if ne $data.Id 0 }}
    <p style="font-size: 26px">{{ Localize "i18n.fileTypeUnsupportedEdit" }}</p>
    {{ else }}
    <p style="font-size: 26px">{{ Localize "i18n.dataNotExist" }}</p>
    {{ end }}
</content>

</body>
</html>