<!--
 | @author xiangqian
 | @date 22:53 2023/02/08
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">

    <!--
     | https://codemirror.net
     | GitHub: https://github.com/codemirror/codemirror5
     | doc: https://codemirror.net/5/doc/manual.html
     |-->
    <!-- 引入codemirror核心css文件 codemirror.css -->
    <link rel="stylesheet" href="/static/codemirror-5.65.11/lib/codemirror.css">

    <title>{{ Localize "i18n.edit" }}: {{ .f.Name }}</title>

    <style>

        .CodeMirror {
            font-size: 16px;
        }

    </style>

    <style>

        .float {
            position: fixed;
            top: 30px;
            right: 50px;
            width: auto;
            height: auto;
            /*background: lightgray;*/
        }

    </style>
</head>
<body>

<p style="color: red;">{{ .msg }}</p>

<textarea type="text">{{ .content }}</textarea>

<button name="save" class="float">{{ Localize "i18n.save" }}</button>

</body>
</html>

<script type="text/javascript" src="/static/jquery-v3.6.2/min.js"></script>

<!-- 引入codemirror核心js文件 codemirror.js -->
<script type="text/javascript" src="/static/codemirror-5.65.11/lib/codemirror.js"></script>

<!-- 引入codemirror mode代码高亮js -->
<script type="text/javascript" src="/static/codemirror-5.65.11/mode/markdown/markdown.js"></script>

<!-- md5.js -->
<script src="/static/md5-2.16.0/main.min.js"></script>

<script type="text/javascript" src="/static/custom/custom.js"></script>

<script>
    ;
    (function () {
        let $textarea = $('textarea')
        let editor = CodeMirror.fromTextArea($textarea[0], {
            mode: 'markdown', // 语言模式
            lineNumbers: true,  // 显示行数
            // indentUnit: 4,         // 缩进单位为4
            smartIndent: true, //智能缩进
            styleActiveLine: true, // 当前行背景高亮
            lineWrapping: true, // 自动换行
            matchBrackets: true,  // 括号匹配
            autoRefresh: true,

            // keyMap：快捷键，default使用默认快捷键

        })
        editor.setSize('100%', '100%')

        // hash
        editor.hash = md5(editor.getValue())

        // 内容变化监听
        // https://codemirror.net/5/doc/manual.html#events
        editor.on("changes", function () {
            // console.log($textarea.val())
            editor.refresh()
            editor.save()
            // console.log(editor.getValue())
            // console.log($textarea.val())
        })

        // href=""
        function save() {
            alert(123)
        }

        let $btns = $('button[name="save"]')
        let $saveBtn = $($btns[$btns.length - 1])
        // console.log($saveBtn)
        $saveBtn.click(function () {
            custom.ajax('/note/content', 'PUT', {
                    'id': "{{ .f.Id }}",
                    'content': editor.getValue()
                },
                'json',
                false,
                function () {
                    editor.hash = md5(editor.getValue())
                    alert('{{ Localize "i18n.success" }}')
                },
                function (e) {
                    let msg = e.responseJSON.msg
                    alert(msg)
                })
        })

        // onbeforeunload
        window.onbeforeunload = function (e) {
            var e = window.event || e
            if (editor.hash !== md5(editor.getValue())) {
                e.returnValue = "数据发生改变！"
                return e.returnValue
            }
        }

    })()
    ;
</script>