<!--
 | @author xiangqian
 | @date 19:23 2023/04/10
 |-->
{{ define "common/float" }}
{{ $table := .response.Data.table }}
{{ $data := .response.Data.data }}
<div class="float hide">
    <msg>{{ .response.Msg }}</msg>
    <table border="1" cellspacing="0" cellpadding="10" align="center">
        <tbody>
        <tr>
            <td>{{ Localize "i18n.name" .language }}</td>
            <td>{{ $data.Name }}</td>
        </tr>
        {{ if eq $table "note"}}
        {{ $pNote := .response.Data.pNote }}
        <tr>
            <td>{{ Localize "i18n.path" .language }}</td>
            <td>{{ if eq $pNote.Id 0 }}<span>/</span>{{ else }}{{ $ids := $pNote.Ids }}{{ if $ids }}{{ $len := len $ids }}{{ if gt $len 0 }}{{ $names := $pNote.Names }}{{ range $index,$id := $ids }}<span>/</span><a href='{{ $.contextPath }}/{{ $table }}?search=pid%3A%20{{ $id }}&t={{ NowUnix }}'>{{ index $names $index }}</a>{{ end }}{{ end }}{{ end }}{{ end }}</td>
        </tr>
        {{ end }}
        <tr>
            <td>{{ Localize "i18n.type" .language }}</td>
            <td>{{ $data.Type }}</td>
        </tr>
        <tr>
            <td>{{ Localize "i18n.size" .language }}</td>
            <td>{{ HumanizFileSize $data.Size }}</td>
        </tr>
        <tr>
            <td>{{ Localize "i18n.addTime" .language }}</td>
            <td>{{ HumanizUnix $data.AddTime .language }}</td>
        </tr>
        <tr>
            <td>{{ Localize "i18n.updTime" .language }}</td>
            <td>{{ HumanizUnix $data.UpdTime .language }}</td>
        </tr>
        </tbody>
    </table>
    {{ $displayReUpload := true }}
    {{ if eq $table "note"}}
        {{ if eq $data.Type "md" }}
            {{ $displayReUpload = false }}
        {{ end }}
    {{ end  }}
    {{ if $displayReUpload }}
    <form action="{{ .contextPath }}/{{ $table }}/upload" method="post" enctype="multipart/form-data" style="padding-top: 10px;">
        <input name="id" type="text" value="{{ $data.Id }}" hidden/>
        <input name="file" type="file"/>
        <button type="submit">{{ Localize "i18n.reUpload" .language }}</button>
    </form>
    {{ end}}
</div>
{{ end }}