<!--
 | @author xiangqian
 | @date 21:02 2023/07/10
 |-->
{{ define "common/foot2" }}
<foot2>
    <p>{{ Localize "i18n.navigation" .language }}
    <ul>
        {{ $path := printf "%s%s" .contextPath "/" }}
        <li><a href='{{ $path }}?t={{ NowUnix }}' class='{{ if eq .path $path }}disabled{{ end }}'>{{ Localize "i18n.index" .language }}</a></li>
        {{ $path := printf "%s%s" .contextPath "/note" }}
        <li><a href='{{ $path }}?t={{ NowUnix }}' class='{{ if eq .path $path }}disabled{{ end }}'>{{ Localize "i18n.note" .language }}</a></li>
        {{ $path := printf "%s%s" .contextPath "/image" }}
        <li><a href='{{ $path }}?t={{ NowUnix }}' class='{{ if eq .path $path }}disabled{{ end }}'>{{ Localize "i18n.image" .language }}</a></li>
        {{ $path := printf "%s%s" .contextPath "/audio" }}
        <li><a href='{{ $path }}?t={{ NowUnix }}' class='{{ if eq .path $path }}disabled{{ end }}'>{{ Localize "i18n.audio" .language }}</a></li>
        {{ $path := printf "%s%s" .contextPath "/video" }}
        <li><a href='{{ $path }}?t={{ NowUnix }}' class='{{ if eq .path $path }}disabled{{ end }}'>{{ Localize "i18n.video" .language }}</a></li>
    </ul>
    </p>
    <p>
        <span>{{ Localize "i18n.lastSignIn" .language }}</span>
        <span style="padding-left: 10px;">{{ .system.LastSignInIp }}</span>
        <span style="padding-left: 10px;">{{ FormatUnix .system.LastSignInTime }}</span>
    </p>
    <p>
        {{ $path := printf "%s%s" .contextPath "/setting" }}
        <span><a href="{{ $path }}?t={{ NowUnix }}" class='{{ if eq .path $path }}disabled{{ end }}'>{{ Localize "i18n.setting" .language }}</a></span>
        <span style="padding-left: 15px"><a href="{{ .contextPath }}/signout?t={{ NowUnix }}">{{ Localize "i18n.signOut" .language }}</a></span>
    </p>
</foot2>
{{ end }}