<!--
 | @author xiangqian
 | @date 18:50 2023/10/14
 |-->
{{ define "common/table" }}
<script type="text/javascript">
    ;
    let variable = (function () {
        let obj = {}

        // i18n
        let i18n = {}
        i18n.name = '{{ Localize "i18n.name" .language }}'
        i18n.add = '{{ Localize "i18n.add" .language }}'
        i18n.addFolder = '{{ Localize "i18n.addFolder" .language }}'
        i18n.addMdFile = '{{ Localize "i18n.addMdFile" .language }}'
        i18n.uploadFile = '{{ Localize "i18n.uploadFile" .language }}'
        i18n.upload = '{{ Localize "i18n.upload" .language }}'
        i18n.upd = '{{ Localize "i18n.upd" .language }}'
        i18n.rename = '{{ Localize "i18n.rename" .language }}'
        i18n.cut = '{{ Localize "i18n.cut" .language }}'
        i18n.paste = '{{ Localize "i18n.paste" .language }}'
        i18n.del = '{{ Localize "i18n.del" .language }}'
        i18n.restore = '{{ Localize "i18n.restore" .language }}'
        i18n.permlyDel = '{{ Localize "i18n.permlyDel" .language }}'
        i18n.close = '{{ Localize "i18n.close" .language }}'
        i18n.copyAddress = '{{ Localize "i18n.copyAddress" .language }}'
        i18n.copied = '{{ Localize "i18n.copied" .language }}'
        obj.i18n = i18n

        // 上下文路径
        let contextPath = '{{ .contextPath }}'
        obj.contextPath = contextPath
        console.log('contextPath', contextPath)

        // 请求路径
        let path = '{{ .path }}'
        obj.path = path
        console.log('path', path)

        // 请求uri地址
        let uri = '{{ .uri }}'
        obj.uri = uri
        console.log('uri', uri)

        // 语言
        let language = '{{ .language }}'
        obj.language = language
        console.log('language', language)

        // 数据表名
        let table = '{{ .response.Data.table }}'
        obj.table = table
        console.log('table', table)

        // 响应数据
        let response = `{{ .response }}`
        obj.response = response
        try{
            console.log('response', JSON.parse(response))
        }catch (e) {
            console.error(e)
        }

        return obj
    })();
</script>

<msg>{{ .response.Msg }}</msg>

<!-- 变量赋值 -->
{{ $page := .response.Data.page }}
{{ $data := $page.Data }}

<div class="nowrap">
    <table>
        <thead>
        <tr>
            <td></td>
            <td>{{ Localize "i18n.name" .language }}</td>
            <td>{{ Localize "i18n.size" .language }}</td>
            <td>{{ Localize "i18n.addTime" .language }}</td>
            <td>{{ Localize "i18n.updTime" .language }}</td>
        </tr>
        </thead>
        <tbody>
        {{ $len := 0 }}
        {{ if $data }}
            {{ $len = len $data }}
        {{ end }}
        {{ if gt $len 0 }}
            {{ range $index,$value := $data }}
                <tr id="{{ $value.Id }}" name="{{ $value.Name }}" del="{{ $value.Del }}">
                    <!--
                     | . 访问当前位置的上下文
                     | $ 引用当前模板根级的上下文
                     | $. 引用模板中的根级上下文
                     |-->
                    <td><img src="{{ $.contextPath }}/static/icon/{{ $value.Type }}.png"
                             title="{{ $value.Type }}"
                             onerror="this.onerror=''; this.src='{{ $.contextPath }}/static/icon/unknown.png'"></td>
                    <td><a href="#">{{ $value.Name }}</a></td>
                    <td>{{ HumanizFileSize $value.Size }}</td>
                    <td>{{ HumanizUnix $value.AddTime $.language }}</td>
                    <td>{{ HumanizUnix $value.UpdTime $.language }}</td>
                </tr>
            {{ end }}
        {{ else }}
            <tr class="no-data">
                <td colspan="5">{{ Localize "i18n.noData" .language }}</td>
            </tr>
        {{ end }}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <form action="{{ .contextPath }}/image" method="get">
                    <input name="current" value="1" type="hidden">
                    <input name="size" value="{{ $page.Size }}" type="hidden">
                    <input name="search"
                           type="text"
                           placeholder='{{ Localize "i18n.search" .language }}'
                           title="id:{id}&nbsp;&nbsp;name:{name}&nbsp;&nbsp;type:{type}&nbsp;&nbsp;del:{del}"
                           value="{{ $page.Search }}">
                    <input name="t" value="{{ NowUnix }}" type="hidden">
                </form>

                <!-- 数据表 -->
                {{ $table := .response.Data.table }}

                <!-- 页索引集 -->
                {{ $indexes := $page.Indexes }}
                {{ $len := 0 }}
                {{ if $indexes }}
                    {{ $len = len $indexes }}
                {{ end }}

                <!-- 第一页 -->
                {{ $first := 1 }}
                <!-- 最后一页 -->
                {{ $last := 1 }}
                {{ if gt $len 0 }}
                    {{ $i := Decrement $len }}
                    {{ $last = index $indexes $i }}
                {{ end }}

                {{ if le $page.Current 1 }}
                    <span>{{ Localize "i18n.prev" .language }}</span>
                {{ else }}
                    {{ $prev := Decrement $page.Current }}
                    {{ if gt $prev $last }}
                        {{ $prev = $last }}
                    {{ end }}
                    <span>
                        <a href="{{ $.contextPath }}/{{ $table }}?current={{ $prev }}&size={{ $page.Size }}&search={{ $page.Search }}&t={{ NowUnix }}">{{ Localize "i18n.prev" .language }}</a>
                    </span>
                {{ end }}

                {{ if gt $len 0 }}
                    {{ range $i,$index := $indexes }}
                        {{ if eq $index 0 }}
                            <span>...</span>
                        {{ else if eq $index $page.Current }}
                            <span>{{ $index }}</span>
                        {{ else }}
                            <span>
                                <a href="{{ $.contextPath }}/{{ $table }}?current={{ $index }}&size={{ $page.Size }}&search={{ $page.Search }}&t={{ NowUnix }}">{{ $index }}</a>
                            </span>
                        {{ end }}
                    {{ end }}
                {{ end }}

                {{ if ge $page.Current $last }}
                    <span>{{ Localize "i18n.next" .language }}</span>
                {{ else }}
                    <span>
                        {{ $next := Increment $page.Current }}
                        <a href="{{ $.contextPath }}/{{ $table }}?current={{ $next }}&size={{ $page.Size }}&search={{ $page.Search }}&t={{ NowUnix }}">{{ Localize "i18n.next" .language }}</a>
                    </span>
                {{ end }}
            </td>
        </tr>
        </tfoot>
    </table>
    <!-- 右侧右键区 -->
    <table>
        <thead>
        <tr>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {{ $len := 0 }}
        {{ if $data }}
            {{ $len = len $data }}
        {{ end }}
        {{ if gt $len 0 }}
            {{ range $index,$value := $data }}
            <tr>
                <td></td>
            </tr>
            {{ end }}
        {{ else }}
            <tr>
                <td></td>
            </tr>
        {{ end }}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>
{{ end }}