<!--
 | @author xiangqian
 | @date 18:50 2023/10/14
 |-->
{{ define "common/table" }}
<msg>{{ .response.Msg }}</msg>

<!-- 变量赋值 -->
{{ $page := .response.Data.page }}
{{ $data := $page.Data }}

<div class="nowrap">
    <table>
        <thead>
        <tr>
            <td></td>
            <td>{{ Localize "i18n.name" .language }}</td>
            <td>{{ Localize "i18n.size" .language }}</td>
            <td>{{ Localize "i18n.addTime" .language }}</td>
            <td>{{ Localize "i18n.updTime" .language }}</td>
        </tr>
        </thead>
        <tbody>
        {{ $len := 0 }}
        {{ if $data }}
            {{ $len = len $data }}
        {{ end }}
        {{ if gt $len 0 }}
            {{ $table := .response.Data.table }}
            {{ range $index,$value := $data }}
                <tr id="{{ $value.Id }}" name="{{ $value.Name }}" del="{{ $value.Del }}">
                    <!--
                     | . 访问当前位置的上下文
                     | $ 引用当前模板根级的上下文
                     | $. 引用模板中的根级上下文
                     |-->
                    <td><img src="{{ $.contextPath }}/static/icon/file/{{ $value.Type }}.png"
                             title="{{ $value.Type }}"
                             onerror="this.onerror=''; this.src='{{ $.contextPath }}/static/icon/file/unknown.png'"></td>
                    <td><a href='{{ $.contextPath }}/{{ $table }}/{{ $value.Id }}/view?t={{ NowUnix }}' target="_blank">{{ $value.Name }}</a></td>
                    <td>{{ HumanizFileSize $value.Size }}</td>
                    <td>{{ HumanizUnix $value.AddTime $.language }}</td>
                    <td>{{ HumanizUnix $value.UpdTime $.language }}</td>
                </tr>
            {{ end }}
        {{ else }}
            <tr class="no-data">
                <td colspan="5">{{ Localize "i18n.noData" .language }}</td>
            </tr>
        {{ end }}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <form action="{{ .contextPath }}/image" method="get">
                    <input name="current" value="1" type="hidden">
                    <input name="size" value="{{ $page.Size }}" type="hidden">
                    <input name="search"
                           type="text"
                           placeholder='{{ Localize "i18n.search" .language }}'
                           title="id:{id}&nbsp;&nbsp;name:{name}&nbsp;&nbsp;type:{type}&nbsp;&nbsp;del:{del}"
                           value="{{ $page.Search }}">
                    <input name="t" value="{{ NowUnix }}" type="hidden">
                </form>

                <!-- 数据表 -->
                {{ $table := .response.Data.table }}

                <!-- 页索引集 -->
                {{ $indexes := $page.Indexes }}
                {{ $len := 0 }}
                {{ if $indexes }}
                    {{ $len = len $indexes }}
                {{ end }}

                <!-- 第一页 -->
                {{ $first := 1 }}
                <!-- 最后一页 -->
                {{ $last := 1 }}
                {{ if gt $len 0 }}
                    {{ $i := Decrement $len }}
                    {{ $last = index $indexes $i }}
                {{ end }}

                {{ if le $page.Current 1 }}
                    <span>{{ Localize "i18n.prev" .language }}</span>
                {{ else }}
                    {{ $prev := Decrement $page.Current }}
                    {{ if gt $prev $last }}
                        {{ $prev = $last }}
                    {{ end }}
                    <span>
                        <a href="{{ $.contextPath }}/{{ $table }}?current={{ $prev }}&size={{ $page.Size }}&search={{ $page.Search }}&t={{ NowUnix }}">{{ Localize "i18n.prev" .language }}</a>
                    </span>
                {{ end }}

                {{ if gt $len 0 }}
                    {{ range $i,$index := $indexes }}
                        {{ if eq $index 0 }}
                            <span>...</span>
                        {{ else if eq $index $page.Current }}
                            <span>{{ $index }}</span>
                        {{ else }}
                            <span>
                                <a href="{{ $.contextPath }}/{{ $table }}?current={{ $index }}&size={{ $page.Size }}&search={{ $page.Search }}&t={{ NowUnix }}">{{ $index }}</a>
                            </span>
                        {{ end }}
                    {{ end }}
                {{ end }}

                {{ if ge $page.Current $last }}
                    <span>{{ Localize "i18n.next" .language }}</span>
                {{ else }}
                    <span>
                        {{ $next := Increment $page.Current }}
                        <a href="{{ $.contextPath }}/{{ $table }}?current={{ $next }}&size={{ $page.Size }}&search={{ $page.Search }}&t={{ NowUnix }}">{{ Localize "i18n.next" .language }}</a>
                    </span>
                {{ end }}
            </td>
        </tr>
        </tfoot>
    </table>
    <!-- 右侧右键区 -->
    <table>
        <thead>
        <tr>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {{ $len := 0 }}
        {{ if $data }}
            {{ $len = len $data }}
        {{ end }}
        {{ if gt $len 0 }}
            {{ range $index,$value := $data }}
            <tr>
                <td></td>
            </tr>
            {{ end }}
        {{ else }}
            <tr>
                <td></td>
            </tr>
        {{ end }}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>
{{ end }}