<!--
 | @author xiangqian
 | @date 21:47 2023/12/04
 |-->
{{ define "common/variable" }}
<script type="text/javascript">
    ;
    let variable = (function () {
        let obj = {}

        // i18n
        let i18n = {}
        i18n.name = '{{ Localize "i18n.name" .language }}'
        i18n.add = '{{ Localize "i18n.add" .language }}'
        i18n.addFolder = '{{ Localize "i18n.addFolder" .language }}'
        i18n.addMdFile = '{{ Localize "i18n.addMdFile" .language }}'
        i18n.uploadFile = '{{ Localize "i18n.uploadFile" .language }}'
        i18n.upload = '{{ Localize "i18n.upload" .language }}'
        i18n.upd = '{{ Localize "i18n.upd" .language }}'
        i18n.rename = '{{ Localize "i18n.rename" .language }}'
        i18n.cut = '{{ Localize "i18n.cut" .language }}'
        i18n.paste = '{{ Localize "i18n.paste" .language }}'
        i18n.del = '{{ Localize "i18n.del" .language }}'
        i18n.restore = '{{ Localize "i18n.restore" .language }}'
        i18n.permlyDel = '{{ Localize "i18n.permlyDel" .language }}'
        i18n.close = '{{ Localize "i18n.close" .language }}'
        i18n.copyAddress = '{{ Localize "i18n.copyAddress" .language }}'
        i18n.copied = '{{ Localize "i18n.copied" .language }}'
        obj.i18n = i18n

        // 上下文路径
        let contextPath = '{{ .contextPath }}'
        obj.contextPath = contextPath
        console.log('contextPath', contextPath)

        // 请求路径
        let path = '{{ .path }}'
        obj.path = path
        console.log('path', path)

        // 请求uri地址
        let uri = '{{ .uri }}'
        obj.uri = uri
        console.log('uri', uri)

        // 语言
        let language = '{{ .language }}'
        obj.language = language
        console.log('language', language)

        // 数据表名
        let table = '{{ .response.Data.table }}'
        obj.table = table
        console.log('table', table)

        // 响应数据
        let response = `{{ .response }}`
        obj.response = response
        try {
            console.log('response', JSON.parse(response))
        } catch (e) {
            console.error(e)
        }

        return obj
    })();

    function setAccept($input) {
        let accept = null
        if (variable.table === 'image') {
            // 只允许图片类型文件
            accept = "image/*"
        } else if (variable.table === 'audio') {
            // 只允许音频类型文件
            accept = "audio/*"
        } else if (variable.table === 'video') {
            // 只允许视频类型文件
            accept = "video/*"
        } else if (variable.table === 'note') {
            // 只允许doc、docx、pdf、zip、tar.gz类型文件
            accept = ".doc,.docx,.pdf,.zip,.tar.gz"
        }
        $input.attr('accept', accept)
    }

    ;
</script>
{{ end }}