<!--
 | @author xiangqian
 | @date 15:38 2023/02/04
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/custom.css" type="text/css"/>
    <title>{{ Localize "i18n.login" }}</title>
    <style>
        content table tbody tr:hover {
            background-color: white;
        }
    </style>
</head>
<body>

<content>
    <form action="/user/login0?t={{ NowUnix }}" method="post">
        <p style="color: red;">{{ .resp.Msg }}</p>

        {{ $data := .resp.Data }}

        <table cellspacing="0" cellpadding="2" align="center">
            <tbody>
            <tr>
                <td>*<label for="name">{{ Localize "i18n.userName" }}</label></td>
                <td><input id="name" name="name" type="text" value="{{ $data.Name }}"></td>
            </tr>
            <tr>
                <td>*<label for="passwd">{{ Localize "i18n.passwd" }}</label></td>
                <td><input id="passwd" name="passwd" type="password"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value='{{ Localize "i18n.login" }}'></td>
            </tr>
            </tbody>
        </table>
        <br>
        <div>
            {{ Localize "i18n.newToNote" }} <a href="/user/reg?t={{ NowUnix }}">{{ Localize "i18n.createAnAccount" }}</a>
        </div>
    </form>

</content>

{{ template "common/footer.html" . }}

</body>
</html>