<!--
 | @author xiangqian
 | @date 18:17 2024/08/27
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/css/body.css}" type="text/css" />
    <title>注册</title>
</head>
<body>
<error th:text="${error}"></error>
<content>
    <left>
        <form method="post" th:action="@{'/user/register?t=' + ${timestamp}}">
            <table>
                <tbody>
                <tr>
                    <td><span style="font-weight: bold;">*</span><label>用户名</label></td>
                    <td><input name="name" type="text" value="" required autofocus></td>
                </tr>
                <tr>
                    <td><span style="font-weight: bold;"></span><label>昵称</label></td>
                    <td><input name="nickname" type="text" value="" required autofocus></td>
                </tr>
                <tr>
                    <td><span style="font-weight: bold;">*</span><label>密码</label></td>
                    <td><input name="passwd" type="password" required></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">注册</button><a th:href="@{'/user/login?t=' + ${timestamp}}" style="margin-left: 15px;">登录</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </left>
    <right>
    </right>
</content>
<div th:replace="bottom"></div>
</body>
</html>
