<!--
 | @author xiangqian
 | @date 16:57 2024/03/03
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/custom/body.css}" type="text/css" />
    <title>重置密码</title>
</head>
<body>
<div th:replace="top"></div>
<center>
    <left>
        <form method="post" th:action="@{'/resetPassword' + '?t=' + ${timestamp}}" onsubmit="return validatePassword(this)">
            <input name="_method" value="PUT" type="hidden">
            <table>
                <tbody>
                <tr>
                    <td><span style="font-weight: bold;">*</span><label>密码</label></td>
                    <td><input name="password" type="password" required autofocus></td>
                </tr>
                <tr>
                    <td><span style="font-weight: bold;">*</span><label>新密码</label></td>
                    <td><input name="newPassword" type="password" required></td>
                </tr>
                <tr>
                    <td><span style="font-weight: bold;">*</span><label>再次输入新密码</label></td>
                    <td><input name="confirmNewPassword" type="password" required></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">重置</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </left>
</center>
<div th:replace="bottom"></div>
</body>
</html>
<script type="text/javascript" th:src="@{/static/jquery/jquery.js}"></script>
<script type="text/javascript">

    function validatePassword(form) {
        let $form = $(form);

        // 校验密码
        let $passwd = $($form.find('input[name="password"]')[0]);
        if ($passwd.val().length > 128) {
            alert("密码长度不能大于128个字符")
            return false;
        }

        // 校验新密码
        let $newPassword = $($form.find('input[name="newPassword"]')[0]);
        if ($newPassword.val().length > 128) {
            alert("新密码长度不能大于128个字符")
            return false;
        }

        let $confirmNewPassword = $($form.find('input[name="confirmNewPassword"]')[0]);
        if ($newPassword.val() !== $confirmNewPassword.val()) {
            alert("新密码与确认密码不一致，请重新输入")
            return false;
        }

        return true;
    }

</script>
