/**
 * @author xiangqian
 * @date 20:02 2023/07/10
 */

body {
    min-height: 100%;
    padding: 5px 10px 10px 10px;
    font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    word-break: keep-all;
    display: block;
}

body a {
    padding: 0;
    margin: 0;
    /* 去掉<a>标签文本下划线 */
    text-decoration: none;
}

body button {
    /* 鼠标经过或点击显示小手样式 */
    cursor: pointer
}

body form input[type="submit"] {
    /* 鼠标经过或点击显示小手样式 */
    cursor: pointer
}

body msg {
    padding-bottom: 10px;
    display: block;
    color: red;
}

/* 如果<msg>为空时，设置 padding-bottom: 0px */
body msg:empty {
    padding-bottom: 0px;
}

/* 不换行 */
body .nowrap {
    white-space: nowrap;
}

/* 隐藏 */
body .hide {
    display: none;
}