<!--
 | @author xiangqian
 | @date 15:41 2023/02/04
 |-->
{{ define "system/passwd" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="{{ .contextPath }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/body.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/form.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/foot2.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/foot1.css" type="text/css"/>
    <title>{{ Localize "i18n.passwd" }}</title>
</head>
<body>
<msg>{{ .response.Msg }}</msg>
<form action="{{ .contextPath }}/passwd?t={{ NowUnix }}" method="post">
    <table>
        <tbody>
        <tr>
            <td><span style="font-weight: bold;">*</span><label>{{ Localize "i18n.origPasswd" }}</label></td>
            <td><input name="origPasswd" type="password"></td>
        </tr>
        <tr>
            <td><span style="font-weight: bold;">*</span><label>{{ Localize "i18n.newPasswd" }}</label></td>
            <td><input name="newPasswd" type="password"></td>
        </tr>
        <tr>
            <td><span style="font-weight: bold;">*</span><label>{{ Localize "i18n.reNewPasswd" }}</label></td>
            <td><input name="reNewPasswd" type="password"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">
                <input type="submit" value='{{ Localize "i18n.save" }}'>
            </td>
        </tr>
        </tfoot>
    </table>
</form>
</body>
{{ template "common/foot2" . }}
{{ template "common/foot1" . }}
</html>
{{ end }}