<!--
 | @author xiangqian
 | @date 22:37 2023/06/13
 |-->
{{ define "system/signin" }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="{{ .contextPath }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/body.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/form.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/foot1.css" type="text/css"/>
    <title>{{ Localize "i18n.signIn" .language }}</title>
</head>
<body>
<msg>{{ .response.Msg }}</msg>
<form action="{{ .contextPath }}/signin?t={{ NowUnix }}" method="post">
    {{ $user := .resp.Data }}
    <table>
        <tbody>
        <tr>
            <td><span style="font-weight: bold;">*</span><label>{{ Localize "i18n.passwd" .language }}</label></td>
            <td><input name="passwd" type="password"></td>
            <td>
                <input type="submit" value='{{ Localize "i18n.signIn" .language }}'>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
{{ template "common/foot1" . }}
</html>
{{ end }}