/**
 * @author xiangqian
 * @date 20:08 2023/12/05
 */

body .float {
    position: fixed;
    top: 20px;
    right: 20px;
    width: auto;
    height: auto;
    text-align: center;
    /* 背景色 */
    background-color: #f2f2f2;
    /* 边框样式 */
    border: 1px solid #ddd;
    /* 边框圆角 */
    border-radius: 4px;
    /* 内边距 */
    padding: 10px;
    /* 外边距 */
    margin: 10px;
}

body .float table {
    /* 合并单元格边框 */
    border-collapse: collapse;
    /* 单元格间距 */
    border-spacing: 0;
    /* 表格边框样式 */
    border: 1px solid #ddd;
}

/* 偶数行背景色 */
body .float tr:nth-child(even) {
    background-color: #f9f9f9;
}
