/**
 * @author xiangqian
 * @date 22:37 2023/10/15
 */

body table {
    /* 设置为行内元素 */
    display: inline-table;

    border-collapse: collapse;
}

body table:last-child, body table:last-child td {
    /*border: 1px solid black;*/
}

body table thead td {
    height: 50px;
    font-weight: bold;
}

body table:first-child thead td {
    border-bottom: 2px solid #CCCCCC;
}

body table:last-child thead td {
    width: 200px;
    border-bottom: 2px solid white;
}

body table thead th:last-child {
    border-right: none;
}

body table tbody {
}

body table tbody tr td {
    padding-right: 20px;
    height: 40px;
}

body table:first-child tbody tr td {
    border-bottom: 1px solid #CCCCCC;
}

body table:last-child tbody tr td {
    border-bottom: 1px solid white;
}

body table tbody tr td:last-child {
    border-right: none;
}

/* 鼠标经过显示背景颜色 */
body table:first-child tbody tr:not([class='no-data']):hover {
    background-color: #CCCCCC;
}

body table tfoot tr td {
    padding: 20px;
}

body table tfoot tr td span {
    padding-left: 10px;
}

body table tfoot tr td form {
    /* 设置为行内元素 */
    display: inline;
}

body table tfoot tr td form input {
    width: 300px;
}

body div.menu {
    display: none;
    position: absolute;
}

/* 遮罩层 */
body div.menu::before {
    content: "";
    /* 让遮罩层始终固定在页面的最上方 */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
    /* rgba函数中的最后一个浮点数值为透明度，0为完全透明，1为完全不透明 */
    background-color: rgba(0, 0, 0, 0.2);
    opacity: .3;
}

body div.menu ul {
    list-style: none;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    display: none;
    /* 让遮罩层始终固定在页面的最上方 */
    position: fixed;
    z-index: 2;
    border-radius: 5px;
}

body div.menu ul li {
    padding: 3px;
}

body div.menu ul li:hover {
    background: #CCCCCC;
}

/* <a> 标签以填充整个 <li> */
body div.menu ul li a {
    display: block;
}