<!--
 | @author xiangqian
 | @date 19:31 2023/02/14
 |-->
<!DOCTYPE html>
<html lang="en" url="{{ .url }}">
{{ $data := .resp.Data }}
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/custom.css" type="text/css"/>
    <title>{{ $data.Name }}</title>

    <style>
        .internal {
            width: 100%;
            height: 100%;
        }

        .container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>

    <style>
        content .float {
            top: 80px;
            right: 60px;
        }
    </style>
</head>
<body>

<!--
<object class="internal container" data="{{ $data.Url }}" type="application/pdf">
    This browser does not support PDFs. Please download the PDF to view it:
    <a href="/note/{{ $data.Id }}/view">Download PDF</a>
</object>
-->
<embed class="internal container" title="214435" src="{{ $data.Url }}" type="application/pdf">

<!-- 浮动窗口 -->
<content>
    {{ template "common/float.html" . }}
</content>

</body>
</html>
<script type="text/javascript" src="/static/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/custom/custom.js"></script>
<script>

    ;(function () {
        let data = JSON.parse('{{ Serialize $data }}')
        custom.float('note', data)

        let $embed = $($('embed')[0])
        // console.log($embed)
        // window._embed = $embed[0]
    })()

</script>