<!--
 | @author xiangqian
 | @date 14:44 2023/02/04
 |-->
<!DOCTYPE html>
<html lang="en" url="{{ .url }}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/custom.css" type="text/css"/>
    <title>{{ Localize "i18n.note" }}</title>
</head>
<body>

{{ template "common/header.html" . }}

<content>
    <p style="color: red;">{{ .resp.Msg }}</p>

    {{ $data := .resp.Data }}

    <p>
        <span>
        <script>
            document.write('{{ $data.pnote.PathLink }}')
        </script>
        </span>
        &nbsp;&nbsp;
        <span>
            {{ Localize "i18n.name" }}: <input
                search
                name="name"
                type="text"
                size="15">&nbsp;&nbsp;
            {{ Localize "i18n.type" }}: <select search name="type">
                <option value=""></option>
                {{ $len := len $data.types }}
                {{ if gt $len 0 }}
                {{ range $index,$type := $data.types }}
                <option value="{{ $type }}">{{ $type }}</option>
                {{ end }}
                {{ end }}
            </select>&nbsp;&nbsp;
            All: <input search name="all" type="checkbox"/>&nbsp;
            <a search name="search" method="GET"><button>{{ Localize "i18n.search" }}</button></a>
            <a search name="reset" method="GET"><button>{{ Localize "i18n.reset" }}</button></a>
        </span>
    </p>
    <table cellspacing="0" cellpadding="10" align="center">
        <thead>
        <tr>
            <td>{{ Localize "i18n.name" }}</td>
            {{ if eq $data.pnote.Path "" }}
            <td>{{ Localize "i18n.path" }}</td>
            {{ end }}
            <td>{{ Localize "i18n.type" }}</td>
            <td>{{ Localize "i18n.size" }}</td>
            <td>{{ Localize "i18n.addTime" }}</td>
            <td>{{ Localize "i18n.updTime" }}</td>
            <td colspan="3">{{ Localize "i18n.op" }}</td>
        </tr>
        </thead>
        <tbody>
        {{ if gt $data.pnote.Id 0 }}
        <tr>
            <td><a href="/note/list?pid={{ $data.pnote.Pid }}&t={{ Timestamp }}">../</a></td>
            <td colspan="7"></td>
        </tr>
        {{ end }}

        {{ $len := len $data.notes }}
        {{ if gt $len 0 }}
        {{ range $index,$note := $data.notes }}
        <tr>
            <td>
                {{ if eq $note.Type "d" }}
                <a href="/note/list?pid={{ $note.Id }}&t={{ Timestamp }}">{{ $note.Name }}/</a>
                {{ else }}
                <a href="/note/{{ $note.Id }}/view?t={{ Timestamp }}" target="_blank">{{ $note.Name }}</a>
                {{ end }}
            </td>
            {{ if eq $data.pnote.Path "" }}
            <td>
                <script>
                    document.write('{{ $note.PathLink }}')
                </script>
            </td>
            {{ end }}
            <td>{{ $note.Type }}</td>
            <td>{{ HumanizFileSize $note.Size }}</td>
            <td>{{ HumanizUnix $note.AddTime }}</td>
            <td>{{ HumanizUnix $note.UpdTime }}</td>
            <td>
                <a name="rename"
                   href="/note/name"
                   method="PUT"
                   noteId="{{ $note.Id }}"
                   notePid="{{ $data.pnote.Id }}"
                   noteName="{{ $note.Name }}">
                    <button>{{ Localize "i18n.rename" }}</button>
                </a>
            </td>
            <td>
                <button name="cut"
                        noteId="{{ $note.Id }}"
                        noteName='{{ $data.pnote.Path }}{{ if ne $data.pnote.Path "/"}}/{{ end }}{{ $note.Name }}'>
                    {{ Localize "i18n.cut" }}
                </button>
            </td>
            <td>
                <a name="del"
                   href="/note/{{ $note.Id }}"
                   method="DELETE"
                   confirm='{{ Localize "i18n.del" }} {{ $note.Name }}{{ if eq $note.Type "dir" }}/{{ end }} ?'>
                    <button>{{ Localize "i18n.del" }}</button>
                </a>
            </td>
        </tr>
        {{ end }}
        {{ end }}
        </tbody>
    </table>
    <br>
    <br>
    <br>

    <div>
        <a name="add" href="/note" method="POST">{{ Localize "i18n.add" }} →</a>
    </div>
    <hr width="30%">
    <div>
        <form action="/note/upload?t={{ Timestamp }}" method="POST" enctype="multipart/form-data">
            <input name="pid" type="text" value="{{ $data.pnote.Id }}" hidden/>
            <input name="file" type="file"/>
            <button type="submit">{{ Localize "i18n.upload" }}</button>
        </form>
    </div>
    <hr width="30%">
    <div>
        <a name="paste" method="PUT" value="{{ $data.pnote.Id }}">
            <button name="paste">{{ Localize "i18n.paste" }}</button>
        </a>
    </div>

</content>

{{ template "common/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/custom/custom.js"></script>
<script type="text/javascript">

    // search
    ;(function () {

        // params
        let params = custom.urlQueryParams(decodeURIComponent('{{ .uri }}'))

        // name
        let $name = $($('input[search][name="name"]')[0])
        let name = params.name
        if (name) {
            $name.val(name)
        }

        // type
        let $type = $($('select[search][name="type"]')[0])
        let type = params.type
        if (type) {
            let options = $type.find('option')
            for (let i = 0; i < options.length; i++) {
                let $option = $(options[i])
                $option.removeAttr('selected')
                if (type === $option.val()) {
                    $option.attr('selected', true)
                }
            }
        }

        // all
        let $all = $($('input[search][name="all"]')[0])
        let pid = params.pid
        if (pid === '-1') {
            $all.attr('checked', true)
        }

        function callback($e) {
            let reset = $e.attr('name') === 'reset'

            // url
            let url = '/note/list'

            // pid
            let pid = '{{ $data.pnote.Id }}'
            if (!reset && $all.prop('checked')) {
                pid = -1
            }
            url += '?pid=' + pid

            // name
            let name = reset ? '' : $name.val().trim()
            $name.val(name)
            if (name !== '') {
                url += '&name=' + name
            }

            // type
            let type = reset ? '' : $type.find("option:selected").text();
            if (type !== '') {
                url += '&type=' + type
            }

            return {url: url}
        }

        // search
        let $search = $($('a[search][name="search"]')[0])
        custom.ajaxE($search, callback)

        // reset
        let $reset = $($('a[search][name="reset"]')[0])
        custom.ajaxE($reset, callback)
    })()

    ;(function () {

        // add
        let $add = $($('a[name="add"]')[0])
        custom.ajaxE($add, function ($add) {
            // flag判断是否已点击 'Add →'
            let flag = $add.attr('flag')
            if (flag != 1) {
                let $input = $('<input name="name" placeholder="name">')
                $input.append('<option value=""></option>')
                $add.before($input)
                $add.html('<span style="margin-left: 10px">{{ Localize "i18n.add" }}</span>')
                $add.attr('flag', 1)
                return custom.ajaxEDoNothing
            }

            // 获取上一个 input 兄弟节点
            let $input = $add.prev('input')
            // console.log($input)
            let value = $input.val().trim();
            $input.val(value)
            // console.log(value)
            let legal = true
            let name = null
            let type = null
            if (value.endsWith("/")) {
                name = value.substring(0, value.length - 1)
                type = 'd'
            } else if (value.endsWith(".md")) {
                name = value.substring(0, value.length - 3)
                type = 'md'
            } else {
                legal = false
            }
            if (value === "" || !legal) {
                // 添加 css border
                $input.css('border', '2px solid red')
                return custom.ajaxEDoNothing
            }

            // 删除 css border
            $input.css('border', '')

            // 请求数据
            let data = new FormData()
            data.append('pid', "{{ $data.pnote.Id }}")
            data.append('name', name)
            data.append('type', type)
            return {data: data}
        })

        // rename
        // let $renames = $('a[href^="/note"][href$="/rename"]')
        let renames = $('a[name="rename"]')
        for (let i = 0, len = renames.length; i < len; i++) {
            let $rename = $(renames[i])
            custom.ajaxE($rename, function ($rename) {
                let name = prompt('{{ Localize "i18n.name" }}', $rename.attr('noteName'))
                if (!name || (name = name.trim()) === '') {
                    return custom.ajaxEDoNothing
                }

                let data = new FormData();
                data.append('id', $rename.attr('noteId'))
                data.append('pid', $rename.attr('notePid'))
                data.append('name', name)
                return {data: data}
            })
        }

        // del
        let dels = $('a[name="del"]')
        for (let i = 0; i < dels.length; i++) {
            let $del = $(dels[i])
            custom.ajaxE($del, function ($del) {
                if (confirm($del.attr('confirm'))) {
                    return null
                }

                return custom.ajaxEDoNothing
            })
        }

        let $pasteBtn = $($('button[name="paste"]')[0])

        // cut
        const cutKey = 'cut'
        let cuts = $('button[name="cut"]')
        let cutValue = custom.storage.get(cutKey)
        let id = null
        if (cutValue) {
            id = JSON.parse(cutValue).id;
        }
        // console.log('cutValue', cutValue)
        // console.log('id', id)
        for (let i = 0, len = cuts.length; i < len; i++) {
            let $cut = $(cuts[i])
            if ($cut.attr('noteId') === id) {
                $cut.attr('disabled', 'disabled')
            }
            $cut.click(function () {
                // 移除已cut的笔记
                for (let i = 0, len = cuts.length; i < len; i++) {
                    let $cut = $(cuts[i])
                    $cut.removeAttr('disabled')
                }

                // 设置当前cut
                $(this).attr('disabled', 'disabled')
                custom.storage.set(cutKey, {'id': $(this).attr('noteId'), 'name': $(this).attr('noteName')})

                // 显示paste
                $pasteBtn.removeAttr('disabled')
            })
        }

        // paste
        let $paste = $($('a[name="paste"]')[0])
        if (!(cutValue)) {
            $pasteBtn.attr('disabled', 'disabled')
        }
        // $paste.click(function ())
        custom.ajaxE($paste, function ($paste) {
            let cutValue = custom.storage.get(cutKey)
            let src = JSON.parse(cutValue);
            if (!confirm('{{ Localize "i18n.cut" }} "' + src.name + '" {{ Localize "i18n.to" }} "{{ $data.pnote.Path }}{{ if ne $data.pnote.Path "/"}}/{{ end }}" ?')) {
                return custom.ajaxEDoNothing
            }

            // remove attr
            custom.storage.remove(cutKey)
            $pasteBtn.attr('disabled', 'disabled')

            return {
                url: '/note/cut/' + src.id + '/to/{{ $data.pnote.Id }}'
            };
        })

    })()

</script>