<!--
 | @author xiangqian
 | @date 14:44 2023/02/04
 |-->
<!DOCTYPE html>
<html lang="en" uri="{{ .uri }}" url="{{ .url }}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/custom.css" type="text/css"/>
    <title>{{ Localize "i18n.note" }}</title>
</head>
<body>

{{ template "common/header.html" . }}

<content>
    <p style="color: red;">{{ .resp.Msg }}</p>

    {{ $data := .resp.Data }}

    <p>
        <span>
        <script>
            document.write('{{ $data.pnote.Path }}')
        </script>
        </span>
        &nbsp;&nbsp;
        <span>
            <input name="searchName" type="text" size="15">
            <a name="search" method="GET"><button>{{ Localize "i18n.search" }}</button></a>
            <a href="/note/list?t={{ Timestamp }}"><button>{{ Localize "i18n.reset" }}</button></a>
        </span>
    </p>
    <table cellspacing="0" cellpadding="10" align="center">
        <thead>
        <tr>
            <td>{{ Localize "i18n.name" }}</td>
            <td>{{ Localize "i18n.type" }}</td>
            <td>{{ Localize "i18n.size" }}</td>
            <td>{{ Localize "i18n.addTime" }}</td>
            <td>{{ Localize "i18n.updTime" }}</td>
            <td colspan="3">{{ Localize "i18n.op" }}</td>
        </tr>
        </thead>
        <tbody>
        {{ if gt $data.pnote.Id 0 }}
        <tr>
            <td><a href="/note/list?pid={{ $data.pnote.Pid }}">../</a></td>
            <td colspan="7"></td>
        </tr>
        {{ end }}

        {{ $len := len $data.notes }}
        {{ if gt $len 0 }}
        {{ range $index,$note := $data.notes }}
        <tr>
            <td>
                {{ if eq $note.Type "d" }}
                <a href="/note/list?pid={{ $note.Id }}">{{ $note.Name }}/</a>
                {{ else }}
                <a href="/note/{{ $note.Id }}/view" target="_blank">{{ $note.Name }}</a>
                {{ end }}
            </td>
            <td>{{ $note.Type }}</td>
            <td>{{ HumanizFileSize $note.Size }}</td>
            <td>{{ HumanizUnix $note.AddTime }}</td>
            <td>{{ HumanizUnix $note.UpdTime }}</td>
            <td>
                <a ajaxE href="/note/name" method="PUT"
                   fId="{{ $note.Id }}" fPid="{{ $data.pnote.Id }}"
                   fName="{{ $note.Name }}">
                    <button>{{ Localize "i18n.rename" }}</button>
                </a>
            </td>
            <td>
                <button name="cut"
                        fId="{{ $note.Id }}"
                        fName='{{ $data.pnote.Path }}{{ if ne $data.pnote.Path "/"}}/{{ end }}{{ $note.Name }}'>
                    {{ Localize "i18n.cut" }}
                </button>
            </td>
            <td>
                <a ajaxE href="/note/{{ $note.Id }}"
                   method="DELETE"
                   confirm='{{ Localize "i18n.del" }} {{ $note.Name }}{{ if eq $note.Type "dir" }}/{{ end }} ?'>
                    <button>{{ Localize "i18n.del" }}</button>
                </a>
            </td>
        </tr>
        {{ end }}
        {{ end }}
        </tbody>
    </table>
    <br>
    <br>
    <br>

    <div>
        <a ajaxE href="/note" method="POST">{{ Localize "i18n.add" }} →</a>
    </div>
    <hr width="30%">
    <div>
        <form action="/note/upload?t={{ Timestamp }}" method="POST" enctype="multipart/form-data">
            <input name="pid" type="text" value="{{ $data.pnote.Id }}" hidden/>
            <input name="file" type="file"/>
            <button type="submit">{{ Localize "i18n.upload" }}</button>
        </form>
    </div>
    <hr width="30%">
    <div>
        <a ajaxE href="#" method="PUT" name="paste" value="{{ $data.pnote.Id }}">
            <button name="paste">{{ Localize "i18n.paste" }}</button>
        </a>
    </div>

</content>

{{ template "common/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/jquery-v3.6.2/min.js"></script>
<script type="text/javascript" src="/static/custom/custom.js"></script>
<script type="text/javascript">

    ;(function () {

        // search
        let $search = $($('a[name="search"]')[0])
        $search.click(function () {
            let $searchName = $($('input[name="searchName"]')[0])
            let searchName = $searchName.val().trim()
            $searchName.val(searchName)
            if (searchName !== '') {
                let url = '/note/list?pid=-1&name=' + searchName
                custom.ajaxReload(url, "GET", null)
            }
            return false
        })

        // add
        let $add = $($('a[href="/note"]')[0])
        custom.ajaxE($add, function ($add) {
            // flag判断是否已点击 'Add →'
            let flag = $add.attr('flag')
            if (flag != 1) {
                let $input = $('<input name="name" placeholder="name">')
                $input.append('<option value=""></option>')
                $add.before($input)
                $add.html('<span style="margin-left: 10px">{{ Localize "i18n.add" }}</span>')
                $add.attr('flag', 1)
                return undefined
            }

            // 获取上一个 input 兄弟节点
            let $input = $add.prev('input')
            // console.log($input)
            let value = $input.val().trim();
            $input.val(value)
            // console.log(value)
            let legal = true
            let name = null
            let type = null
            if (value.endsWith("/")) {
                name = value.substring(0, value.length - 1)
                type = 'd'
            } else if (value.endsWith(".md")) {
                name = value.substring(0, value.length - 3)
                type = 'md'
            } else {
                legal = false
            }
            if (value === "" || !legal) {
                // 添加 css border
                $input.css('border', '2px solid red')
                return undefined
            }

            // 删除 css border
            $input.css('border', '')

            // 请求数据
            let data = new FormData()
            data.append('pid', "{{ $data.pnote.Id }}")
            data.append('name', name)
            data.append('type', type)
            return data
        })

        // rename
        // let $renames = $('a[href^="/note"][href$="/rename"]')
        let $renames = $('a[href="/note/name"]')
        for (let i = 0, len = $renames.length; i < len; i++) {
            $renames[i]['pre'] = function ($e) {
                let name = prompt('{{ Localize "i18n.name" }}', $e.attr('fName'))
                if (name && (name = name.trim()) !== "") {
                    // console.log(name)
                    return {"id": $e.attr('fId'), "pid": $e.attr('fPid'), "name": name}
                }
                return null
            }
        }

    })()

    // cut
    ;(function () {
        let $arr = $('button[name="cut"]')
        let value = custom.storage.get('copy')
        let id = null
        if (value) {
            id = JSON.parse(value).id;
        }
        // console.log('value', value)
        // console.log('id', id)
        for (let i = 0, len = $arr.length; i < len; i++) {
            let $e = $($arr[i])
            if ($e.attr('fId') === id) {
                $e.attr('disabled', 'disabled')
                custom.storage.set('copy', {'id': $e.attr('fId'), 'name': $e.attr('fName')})
            }
            $e.click(function () {
                for (let i = 0, len = $arr.length; i < len; i++) {
                    let $e = $($arr[i])
                    $e.removeAttr('disabled')
                }
                $(this).attr('disabled', 'disabled')
                custom.storage.set('copy', {'id': $(this).attr('fId'), 'name': $(this).attr('fName')})

                $($('button[name="paste"]')[0]).removeAttr('disabled')
            })
        }
    })()

    // paste
    ;(function () {
        let $paste = $($('a[name="paste"]')[0])
        let value = custom.storage.get('copy')
        if (!(value)) {
            $($('button[name="paste"]')[0]).attr('disabled', 'disabled')
        }
        $paste[0]['pre'] = function ($e) {
            let value = custom.storage.get('copy')
            let src = JSON.parse(value);
            if (!confirm('{{ Localize "i18n.cut" }} "' + src.name + '" {{ Localize "i18n.to" }} "{{ $data.pnote.Path }}{{ if ne $data.pnote.Path "/"}}/{{ end }}" ?')) {
                return
            }

            // put
            let url = '/note/cut/' + src.id + '/to/{{ $data.pnote.Id }}'
            // console.log(url)
            $e.attr('href', url)

            // remove attr
            custom.storage.remove('copy')
            $($('button[name="paste"]')[0]).attr('disabled', 'disabled')

            return {};
        }
    })()

</script>