/**
 * @author xiangqian
 * @date 20:02 2023/07/10
 */

body {
    min-height: 100%;
    padding: 5px 10px 10px 10px;
    font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    word-break: keep-all;
    display: block;
}

body a {
    padding: 0;
    margin: 0;
    /* 去掉<a>标签文本下划线 */
    text-decoration: none;
}

/* 禁用a标签 */
body a.disabled {
    /* 不可点击事件 */
    pointer-events: none;
    /* 鼠标经过或点击显示默认样式 */
    cursor: default;
    /* 设置字体为灰色 */
    color: gray;
}

body form.aform {
    display: inline-block;
}

body form.aform button.disabled {
    background: none;
    border: none;
    /* 设置字体为灰色 */
    color: gray;
    /* 去掉标签文本下划线 */
    text-decoration: none;
    /* 鼠标经过或点击显示默认样式 */
    cursor: default;
    /* 可选：去除按钮默认的内边距 */
    padding: 0;
    /* 保持字体一致 */
    font: inherit;
    /* 不可点击事件 */
    pointer-events: none;
}

body form.aform button:not(.disabled) {
    background: none;
    border: none;
    /* 设置按钮文字颜色 */
    color: blue;
    /* 去掉标签文本下划线 */
    text-decoration: none;
    /* 将鼠标光标设置为手型 */
    cursor: pointer;
    /* 可选：去除按钮默认的内边距 */
    padding: 0;
    /* 保持字体一致 */
    font: inherit;
}

body form button[type="submit"]:not([disabled]) {
    /* 鼠标经过或点击显示小手样式 */
    cursor: pointer;
}

/* 边框样式 */
body .border {
    /* 添加内边距以增加边框周围的空间 */
    padding: 5px;
    /* 添加1像素宽度的灰色边框 */
    border: 1px solid #ccc;
    /* 添加5像素的圆角 */
    border-radius: 5px;
}



