/**
 * @author xiangqian
 * @date 20:02 2023/07/10
 */

body {
    min-height: 100%;
    padding: 5px 10px 10px 10px;
    font-family: "Mona Sans", "Mona Sans Fallback", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    word-break: keep-all;
    display: block;
}

body a {
    padding: 0;
    margin: 0;
    /* 去掉<a>标签文本下划线 */
    text-decoration: none;
}

/* 禁用a标签 */
body a.disabled {
    /* 不可点击事件 */
    pointer-events: none;
    /* 鼠标经过或点击显示默认样式 */
    cursor: default;
    /* 设置字体为灰色 */
    color: gray;
}

body form.aform {
    display: inline-block;
}

body form.aform button.disabled {
    background: none;
    border: none;
    /* 设置字体为灰色 */
    color: gray;
    /* 去掉标签文本下划线 */
    text-decoration: none;
    /* 鼠标经过或点击显示默认样式 */
    cursor: default;
    /* 可选：去除按钮默认的内边距 */
    padding: 0;
    /* 保持字体一致 */
    font: inherit;
    /* 不可点击事件 */
    pointer-events: none;
}

body form.aform button:not(.disabled) {
    background: none;
    border: none;
    /* 设置按钮文字颜色 */
    color: blue;
    /* 去掉标签文本下划线 */
    text-decoration: none;
    /* 将鼠标光标设置为手型 */
    cursor: pointer;
    /* 可选：去除按钮默认的内边距 */
    padding: 0;
    /* 保持字体一致 */
    font: inherit;
}

body form button[type="submit"]:not([disabled]) {
    /* 鼠标经过或点击显示小手样式 */
    cursor: pointer;
}

/* 边框样式 */
body .border {
    /* 添加内边距以增加边框周围的空间 */
    padding: 5px;
    /* 添加1像素宽度的灰色边框 */
    border: 1px solid #ccc;
    /* 添加5像素的圆角 */
    border-radius: 5px;
}


/*-------------------------------------------------*/

body > top {
    display: block;
    padding-bottom: 10px;
}

body > top > info {
    display: block;
    color: rgb(0, 200, 0);
}

body > top > error {
    display: block;
    color: rgb(200, 0, 0);
}

body > center {
    display: block;
    width: auto;
    text-align: left;

    /* 使用 Flexbox 布局 */
    display: flex;
    height: auto;
}

body > center > left {
    /* 占据左侧空间 */
    flex: 1;
    display: block;
}

body > center > left > form table {
    border-collapse: collapse;
}

body > center > left > form table tbody tr td {
    padding-right: 20px;
}

body > center > left > table {
    /* 设置为行内元素 */
    display: inline-table;
    border-collapse: collapse;
}

body > center > left > table thead td {
    height: 50px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 40px;
    border-bottom: 2px solid #CCCCCC;
}

body > center > left > table tbody tr.cut {
    color: gray;
}

/* 偶数行背景色 */
body > center > left > table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

body > center > left > table tbody tr td {
    height: 40px;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px;
}

/* 设置table tbody tr最后一个td样式 */
body > center > left > table tbody tr td:last-child {
    background-color: white;
    border-bottom: none;
    margin-left: 15px;
}

/* 设置table tbody tr最后一个td子元素之间间隔 */
body > center > left > table tbody tr td:last-child > * {
    margin-left: 15px;
}

/* 鼠标经过显示背景颜色 */
body > center > left > table tbody tr:hover {
    background-color: #CCCCCC;
}

body > center > left > table tfoot tr td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

body > center > left > table tfoot tr td span {
    padding-right: 15px;
}

body > center > right {
    display: block;
    width: auto;
    text-align: left;
}

body > bottom {
    display: block;
    padding-top: 15px;
}
