/**
 * @author xiangqian
 * @date 17:33 2024/08/28
 */

body > center {
    display: block;
    width: auto;
    text-align: left;

    /* 使用 Flexbox 布局 */
    display: flex;
    height: auto;
}

body > center > left {
    /* 占据左侧空间 */
    flex: 1;
    display: block;
}

body > center > left > form table {
    border-collapse: collapse;
}

body > center > left > form table tbody tr td {
    padding-right: 20px;
}

body > center > left > table {
    /* 设置为行内元素 */
    display: inline-table;
    border-collapse: collapse;
}

body > center > left > table thead td {
    height: 50px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 40px;
    border-bottom: 2px solid #CCCCCC;
}

body > center > left > table tbody tr.cut {
    color: gray;
}

/* 偶数行背景色 */
body > center > left > table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

body > center > left > table tbody tr td {
    height: 40px;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px;
}

/* 设置table tbody tr最后一个td样式 */
body > center > left > table tbody tr td:last-child {
    background-color: white;
    border-bottom: none;
    margin-left: 15px;
}

/* 设置table tbody tr最后一个td子元素之间间隔 */
body > center > left > table tbody tr td:last-child > * {
    margin-left: 15px;
}

/* 鼠标经过显示背景颜色 */
body > center > left > table tbody tr:hover {
    background-color: #CCCCCC;
}

body > center > left > table tfoot tr td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

body > center > left > table tfoot tr td span {
    padding-right: 15px;
}

body > center > right {
    display: block;
    width: auto;
    text-align: left;
}
