/**
 * @author xiangqian
 * @date 16:49 2024/08/28
 */

body > top {
    display: block;
    padding-bottom: 10px;
}

body > top > info {
    display: block;
    color: rgb(0, 200, 0);
}

body > top > error {
    display: block;
    color: rgb(200, 0, 0);
}
