<!--
 | @author xiangqian
 | @date 20:08 2023/07/10
 |-->
<bottom>
    <th:block th:if="${session.isLoggedIn}">
    <p>
        <a th:if="${'/resetPasswd' == vo.servletPath}" th:href="@{'/?t=' + ${vo.timestamp}}" style="margin-right: 15px;">返回首页</a><a th:if="${'/resetPasswd' != vo.servletPath}" th:href="@{'/resetPasswd?t=' + ${vo.timestamp}}" style="margin-right: 15px;">重置密码</a><a th:href="@{'/logout?t=' + ${vo.timestamp}}">退出登录</a>
    </p>
    <th:block th:with="lastLoginHost=${session.user.lastLoginHost},lastLoginTime=${session.user.lastLoginTime}">
    <p th:if="${(T(org.apache.commons.lang3.StringUtils).isNotEmpty(lastLoginHost)) and lastLoginTime != 0}">
        <span style="margin-left: 0px;margin-right: 10px;">上次登录</span><span th:text="${lastLoginHost}" style="margin-right: 10px;"></span><span th:text="${T(org.xiangqian.note.util.DateUtil).humanSecond(lastLoginTime)}"></span>
    </p>
    </th:block>
    </th:block>
    <p style="font-style: italic;">© 2024 xiangqian<a href="https://github.com/xiangqians/note" style="margin-left: 15px;" target="_blank">关于</a></p>
</bottom>
