<!--
 | @author xiangqian
 | @date 19:26 2022/12/18
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="{{ .arg.Path }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ .arg.Path }}/static/css/body.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .arg.Path }}/static/css/cbody.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .arg.Path }}/static/css/cfoot1.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .arg.Path }}/static/css/cfoot2.css" type="text/css"/>
    <title>{{ Localize "i18n.404" }}</title>
</head>
<body>

<cbody>
    <h3>{{ Localize "i18n.404" }}</h3>
</cbody>

{{ template "common/cfoot2.html" . }}
{{ template "common/cfoot1.html" . }}

</body>
</html>