<!--
 | @author xiangqian
 | @date 19:26 2022/12/18
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="{{ .contextPath }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/body.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/foot1.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/foot2.css" type="text/css"/>
    <title>{{ Localize "i18n.404" }}</title>
</head>
<body>
<h3>{{ Localize "i18n.404" }}</h3>
</body>
{{ template "common/foot2" . }}
{{ template "common/foot1" . }}
</html>