<!--
 | @author xiangqian
 | @date 22:35 2023/06/13
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="{{ .arg.Path }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ .arg.Path }}/static/css/body.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .arg.Path }}/static/css/cbody.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .arg.Path }}/static/css/cfoot1.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .arg.Path }}/static/css/cfoot2.css" type="text/css"/>
    <title>{{ Localize "i18n.index" }}</title>
</head>
<body>

<cbody>
    <h2>Index</h2>
    <h2>→</h2>
</cbody>

{{ template "common/cfoot2.html" . }}
{{ template "common/cfoot1.html" . }}

</body>
</html>