<!--
 | @author xiangqian
 | @date 11:49 2023/02/12
 |-->
<!DOCTYPE html>
<html lang="en" url="{{ .url }}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="{{ .contextPath }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/body.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/foot1.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/foot2.css" type="text/css"/>
    <title>{{ Localize "i18n.image" }}</title>
    <style>
        .searchBox {

        }

        form {
            display: inline;
        }
    </style>
</head>
<body>
<msg>{{ .resp.Msg }}</msg>
<table>
    <thead>
    <tr>
        <td></td>
        <td>{{ Localize "i18n.name" }}</td>
        <td>{{ Localize "i18n.size" }}</td>
        <td>{{ Localize "i18n.addTime" }}</td>
        <td>{{ Localize "i18n.updTime" }}</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><img src="{{ .contextPath }}/static/icon/unknown.png" alt="[TXT]"></td>
        <td>名称1</td>
        <td>100</td>
        <td>2023/10/06 19:08</td>
        <td>2023/10/06 19:08</td>
    </tr>
    <tr>
        <td><img src="{{ .contextPath }}/static/icon/png.png" alt="[TXT]"></td>
        <td>名称2</td>
        <td>200</td>
        <td>2023/10/06 19:08</td>
        <td>2023/10/06 19:08</td>
    </tr>
    <tr>
        <td><img src="{{ .contextPath }}/static/icon/back.png" alt="[BACK]"></td>
        <td>名称2</td>
        <td>200</td>
        <td>2023/10/06 19:08</td>
        <td>2023/10/06 19:08</td>
    </tr>
    <tr>
        <td><img src="{{ .contextPath }}/static/icon/folder.png" alt="[BACK]"></td>
        <td>名称2</td>
        <td>200</td>
        <td>2023/10/06 19:08</td>
        <td>2023/10/06 19:08</td>
    </tr>
    <tr>
        <td><img src="{{ .contextPath }}/static/icon/pdf.png" alt="[TXT]"></td>
        <td>名称2</td>
        <td>200</td>
        <td>2023/10/06 19:08</td>
        <td>2023/10/06 19:08</td>
    </tr>
    <tr>
        <td><img src="{{ .contextPath }}/static/icon/unknown.png" alt="[UNKNOWN]"></td>
        <td>名称2</td>
        <td>200</td>
        <td>2023/10/06 19:08</td>
        <td>2023/10/06 19:08</td>
    </tr>
    <tr>
        <td><img src="{{ .contextPath }}/static/icon/folder.png" alt="[DIR]"></td>
        <td>名称234534563464</td>
        <td>200</td>
        <td>2023/10/06 19:08</td>
        <td>2023/10/06 19:08</td>
    </tr>
    <tr>
        <td><img src="{{ .contextPath }}/static/icon/md.png" alt="[MD]"></td>
        <td>名称2</td>
        <td>20000000000000000</td>
        <td>2023/10/06 19:08</td>
        <td>2023/10/06 19:08</td>
    </tr>

    <tr>
        <td><img src="{{ .contextPath }}/static/icon/md.png1"
                 onerror="this.onerror=''; this.src='{{ .contextPath }}/static/icon/unknown.png'"
                 alt="[MD]"></td>
        <td>名称2</td>
        <td>20000000000000000</td>
        <td>2023/10/06 19:08</td>
        <td>2023/10/06 19:08</td>
    </tr>

    </tbody>
    <tfoot>
    <tr>
        <td colspan="5">
            <form action="{{ .contextPath }}/image" method="get">
                <input name="search" type="text" style="width: 50%;"
                       placeholder='{{ Localize "i18n.search" }}   id:{id}&name:{name}&type:{type}'>
            </form>
            &nbsp;&nbsp;
            <a next href="#">{{ Localize "i18n.prev" }}</a>
            1 ... 6 7 8 9 10 ... 100
            <a next href="#">{{ Localize "i18n.next" }}</a>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <div>
                <form action="{{ .contextPath }}/image/upload?t={{ NowUnix }}"
                      method="post"
                      enctype="multipart/form-data">
                    <input name="file" type="file"/>
                    <button type="submit">{{ Localize "i18n.upload" }}</button>
                </form>
            </div>
        </td>
    </tr>
    </tfoot>
</table>
</body>
{{ template "common/foot2.html" . }}
{{ template "common/foot1.html" . }}
</html>
<script type="text/javascript">
</script>