<!--
 | @author xiangqian
 | @date 19:26 2022/12/18
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/custom.css" type="text/css"/>
    <title>{{ Localize "i18n.404" }}</title>
</head>
<body>

{{ template "common/header.html" . }}

<content>
    <h3>{{ Localize "i18n.404" }}</h3>
</content>

{{ template "common/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/jquery-v3.6.2/min.js"></script>
<script type="text/javascript" src="/static/custom/custom.js"></script>