<!--
 | @author xiangqian
 | @date 14:44 2023/02/04
 |-->
<!DOCTYPE html>
<html lang="en" uri="{{ .uri }}" url="{{ .url }}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/min.css" type="text/css"/>
    <title>{{ Localize "i18n.index" }} {{ .pf.Path }}</title>
</head>
<body>

{{ template "com/header.html" . }}

<content>
    <!-- 没有消息就是最好的消息 -->
    <p style="color: red;">{{ .msg }}</p>

    <p>
        <!--
        <span>{{ .pf.Path }}</span>
        -->
        <span>
        <script>
            document.write('{{ .pf.PathLink }}')
        </script>
        </span>
        &nbsp;&nbsp;
        <span><input name="searchName" type="text" size="15"><a name="search" ajaxE method="GET"><button>{{ Localize "i18n.search" }}</button></a></span>
    </p>
    <table cellspacing="0" cellpadding="10" align="center">
        <thead>
        <tr>
            <td>{{ Localize "i18n.name" }}</td>
            <td>{{ Localize "i18n.type" }}</td>
            <td>{{ Localize "i18n.size" }}</td>
            <td>{{ Localize "i18n.addTime" }}</td>
            <td>{{ Localize "i18n.updTime" }}</td>
            <td colspan="3">{{ Localize "i18n.op" }}</td>
        </tr>
        </thead>
        <tbody>
        {{ if gt .pf.Id 0 }}
        <tr>
            <td><a href="/?id={{ .pf.Pid }}">../</a></td>
            <td colspan="7"></td>
        </tr>
        {{ end }}

        {{ $len := len .fs }}
        {{ if gt $len 0 }}
        {{ range $index,$f := .fs }}
        <tr>
            <td>
                {{ if eq $f.Type "d" }}
                <a href="/?id={{ $f.Id }}">{{ $f.Name }}/</a>
                {{ else }}
                <a href="/file/{{ $f.Id }}/viewpage" target="_blank">{{ $f.Name }}</a>
                {{ end }}
            </td>
            <td>{{ $f.Type }}</td>
            <td>{{ HumanizFileSize $f.Size }}</td>
            <td>{{ HumanizUnix $f.AddTime }}</td>
            <td>{{ HumanizUnix $f.UpdTime }}</td>
            <td>
                <a ajaxE href="/file/name" method="PUT" fId="{{ $f.Id }}" fPid="{{ $.pf.Id }}" fName="{{ $f.Name }}">
                    <button>{{ Localize "i18n.rename" }}</button>
                </a>
            </td>
            <td>
                <button name="cut" fId="{{ $f.Id }}"
                        fName='{{ $.pf.Path }}{{ if ne $.pf.Path "/"}}/{{ end }}{{ $f.Name }}'>
                    {{ Localize "i18n.cut" }}
                </button>
            </td>
            <td>
                <a ajaxE href="/file/{{ $f.Id }}" method="DELETE"
                   confirm='{{ Localize "i18n.del" }} {{ $f.Name }}{{ if eq $f.Type "dir" }}/{{ end }} ?'>
                    <button>{{ Localize "i18n.del" }}</button>
                </a>
            </td>
        </tr>
        {{ end }}
        {{ end }}
        </tbody>
    </table>
    <br>
    <br>
    <br>

    <div>
        <a ajaxE href="/file" method="POST">{{ Localize "i18n.add" }} →</a>
    </div>
    <hr width="30%">
    <div>
        <form action="/file/upload" method="POST" enctype="multipart/form-data">
            <input name="pid" type="text" value="{{ .pf.Id }}" hidden/>
            <input name="file" type="file"/>
            <button type="submit">{{ Localize "i18n.upload" }}</button>
        </form>
    </div>
    <hr width="30%">
    <div>
        <a ajaxE href="#" method="PUT" name="paste" value="{{ .pf.Id }}">
            <button name="paste">{{ Localize "i18n.paste" }}</button>
        </a>
    </div>

</content>

{{ template "com/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/jquery-v3.6.2/min.js"></script>
<script type="text/javascript" src="/static/custom/min.js"></script>
<script type="text/javascript">

    ;(function () {
        // add
        let $add = $('a[href="/file"]')
        // console.log($add)
        if ($add.length > 0) {
            $add[0]['pre'] = function ($e) {
                // flag判断是否已点击 'Add →'
                let flag = $e.attr('flag')
                if (flag != 1) {
                    let $input = $('<input name="name" placeholder="name">')
                    $input.append('<option value=""></option>')
                    $e.before($input)
                    $e.html('<span style="margin-left: 10px">{{ Localize "i18n.add" }}</span>')
                    $e.attr('flag', 1)
                    return null
                }

                // 获取上一个 input 兄弟节点
                let $input = $e.prev('input')
                // console.log($input)
                let value = $input.val().trim();
                $input.val(value)
                // console.log(value)
                let legal = true
                let name = null
                let type = null
                if (value.endsWith("/")) {
                    name = value.substring(0, value.length - 1)
                    type = 'd'
                } else if (value.endsWith(".md")) {
                    name = value
                    type = 'md'
                } else {
                    legal = false
                }
                if (value === "" || !legal) {
                    // 添加 css border
                    $input.css('border', '2px solid red')
                    return null
                }

                // 删除 css border
                $input.css('border', '')

                // 请求数据
                return {"pid": "{{ .pf.Id }}", "name": name, "type": type}
            }
        }

        // rename
        // let $renames = $('a[href^="/file"][href$="/rename"]')
        let $renames = $('a[href="/file/name"]')
        for (let i = 0, len = $renames.length; i < len; i++) {
            $renames[i]['pre'] = function ($e) {
                let name = prompt('{{ Localize "i18n.name" }}', $e.attr('fName'))
                if (name && (name = name.trim()) !== "") {
                    // console.log(name)
                    return {"id": $e.attr('fId'), "pid": $e.attr('fPid'), "name": name}
                }
                return null
            }
        }

        // search
        let $search = $('a[name="search"]')
        $search[0]['pre'] = function ($e) {
            let $searchName = $($('input[name="searchName"]')[0])
            let searchName = $searchName.val().trim()
            $searchName.val(searchName)
            if (searchName === '') {
                return
            }
            
            $e.attr('href', '/?id=-1&name=' + searchName)
            return {}
        }

    })()

    // cut
    ;(function () {
        let $arr = $('button[name="cut"]')
        let value = custom.storage.get('copy')
        let id = null
        if (value) {
            id = JSON.parse(value).id;
        }
        // console.log('value', value)
        // console.log('id', id)
        for (let i = 0, len = $arr.length; i < len; i++) {
            let $e = $($arr[i])
            if ($e.attr('fId') === id) {
                $e.attr('disabled', 'disabled')
                custom.storage.set('copy', {'id': $e.attr('fId'), 'name': $e.attr('fName')})
            }
            $e.click(function () {
                for (let i = 0, len = $arr.length; i < len; i++) {
                    let $e = $($arr[i])
                    $e.removeAttr('disabled')
                }
                $(this).attr('disabled', 'disabled')
                custom.storage.set('copy', {'id': $(this).attr('fId'), 'name': $(this).attr('fName')})

                $($('button[name="paste"]')[0]).removeAttr('disabled')
            })
        }
    })()

    // paste
    ;(function () {
        let $paste = $($('a[name="paste"]')[0])
        let value = custom.storage.get('copy')
        if (!(value)) {
            $($('button[name="paste"]')[0]).attr('disabled', 'disabled')
        }
        $paste[0]['pre'] = function ($e) {
            let value = custom.storage.get('copy')
            let src = JSON.parse(value);
            if (!confirm('{{ Localize "i18n.cut" }} "' + src.name + '" {{ Localize "i18n.to" }} "{{ .pf.Path }}{{ if ne .pf.Path "/"}}/{{ end }}" ?')) {
                return
            }

            // put
            let url = '/file/cut/' + src.id + '/to/{{ .pf.Id }}'
            // console.log(url)
            $e.attr('href', url)

            // remove attr
            custom.storage.remove('copy')
            $($('button[name="paste"]')[0]).attr('disabled', 'disabled')

            return {};
        }
    })()

</script>