<!--
 | @author xiangqian
 | @date 14:44 2023/02/04
 |-->
<!DOCTYPE html>
<html lang="en" uri="{{ .uri }}" url="{{ .url }}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/custom.css" type="text/css"/>
    <title>{{ Localize "i18n.index" }}</title>
</head>
<body>

{{ template "common/header.html" . }}

<content>
    <p style="color: red;">{{ .resp.Msg }}</p>

    <div style="float: left; margin-left: 17%;">
        {{ Localize "i18n.note" }}
        <canvas id="noteStat" width="600" height="400">
            你的浏览器不支持 canvas，请升级你的浏览器。
        </canvas>
    </div>

    <div style="float: left; margin-left: 5px;">
        {{ Localize "i18n.img" }}
        <canvas id="imgStat" width="600" height="400">
            你的浏览器不支持 canvas，请升级你的浏览器。
        </canvas>
    </div>
</content>

{{ template "common/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/jquery-v3.6.2/min.js"></script>
<script type="text/javascript" src="/static/custom/custom.js"></script>
<script>
    ;
    (function () {

        function drawPieChart(id, stats) {
            if (!(stats) && !(stats.length)) {
                return
            }

            // console.log('stats', stats)
            let pieChart = new custom.PieChart(document.getElementById(id))
            pieChart.draw(stats, e => e.Type, e => e.Type + ' (' + e.Num + ',  ' + custom.humanizFileSize(e.Size) + ')', e => e.Num)
        }

        // resp
        let resp = JSON.parse(`{{ .resp }}`)
        // console.log('resp', resp)

        // note stat
        drawPieChart('noteStat', resp.Data.noteStats)

        // img stat
        drawPieChart('imgStat', resp.Data.imgStats)
    })()
</script>