<!--
 | @author xiangqian
 | @date 14:44 2023/02/04
 |-->
<!DOCTYPE html>
<html lang="en" url="{{ .url }}">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/custom.css" type="text/css"/>
    <title>{{ Localize "i18n.index" }}</title>

    <style>
        .canvas {
            display: inline-block; /* 行内块 */
            width: 500px;
            height: 400px;
        }
    </style>
</head>
<body>

{{ template "common/header.html" . }}

<content>
    <p style="color: red;">{{ .resp.Msg }}</p>

    {{ $data := .resp.Data }}

    <div>
        <div class="canvas">
            <canvas class="canvas" id="noteStat" name='{{ Localize "i18n.note" }}'>
                你的浏览器不支持 canvas，请升级你的浏览器。
            </canvas>
        </div>

        <div class="canvas" style="padding-left: 30px">
            <canvas class="canvas" id="imgStat" name='{{ Localize "i18n.img" }}'>
                你的浏览器不支持 canvas，请升级你的浏览器。
            </canvas>
        </div>
    </div>
</content>

{{ template "common/footer.html" . }}

</body>
</html>
<script type="text/javascript" src="/static/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/chart.js/chart.js"></script>
<script type="text/javascript" src="/static/custom/custom.js"></script>
<script>
    ;
    (function () {

        // https://www.chartjs.org/
        // https://www.chartjs.org/docs/latest/samples/other-charts/pie.html
        // https://www.chartjs.org/docs/latest/charts/doughnut.html#pie
        // https://www.chartjs.org/docs/latest/configuration/tooltip.html
        function pieChart(id, stats) {
            let labels = []
            let data = [];
            for (let i = 0; i < stats.length; i++) {
                let stat = stats[i]
                let type = stat.type
                let num = stat.num
                let humanizSize = custom.humanizFileSize(stat.size)
                let humanizHistSize = custom.humanizFileSize(stat.histSize)
                let totalSize = stat.size + stat.histSize
                let humanizTotalSize = custom.humanizFileSize(totalSize)
                labels.push(type)
                data.push(totalSize)
                stat.label = `\tNum: ${num}\t\t\tSize: ${humanizSize}\t\t\tHistSize: ${humanizHistSize}\t\t\tTotalSize: ${humanizTotalSize}`
            }

            let $canvas = $('#' + id);
            let title = $canvas.attr('name')
            let chart = new Chart($canvas[0], {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '',
                        data: data,
                        // backgroundColor: [ 'rgb(255, 99, 132)', 'rgb(54, 162, 235)' ],
                        hoverOffset: 4
                    }],
                },
                options: {
                    responsive: true, // 设置图表为响应式，根据屏幕窗口变化而变化
                    maintainAspectRatio: false,// 保持图表原有比例
                    plugins: {
                        legend: {
                            position: 'left'
                        },
                        title: {
                            display: true,
                            text: title
                        },

                        tooltip: {
                            // Namespace: options.plugins.tooltip.callbacks
                            callbacks: {
                                // 重新定义 label
                                // https://www.chartjs.org/docs/latest/configuration/tooltip.html
                                // https://www.chartjs.org/docs/latest/configuration/tooltip.html#label-callback
                                label: function (context) {
                                    let dataIndex = context.dataIndex
                                    return stats[dataIndex].label;
                                }
                            }
                        }
                    },
                }
            });
            // console.log(chart)
        }

        // data
        let data = JSON.parse(`{{ $data }}`)
        // console.log('data', data)

        // note stat
        pieChart('noteStat', data.noteStats)
        // img stat
        pieChart('imgStat', data.imgStats)

    })()

</script>