<!--
 | @author xiangqian
 | @date 23:32 2023/07/10
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" rel="external nofollow" href="{{ .contextPath }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/body.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/foot1.css" type="text/css"/>
    <title>{{ Localize "i18n.signUp" }}</title>
    <style>
        body table tbody tr:hover {
            background-color: white;
        }
    </style>
</head>
<body>
<msg>{{ .resp.Msg }}</msg>
<form action="{{ .contextPath }}/user/signup?t={{ NowUnix }}" method="post">
    <input name="_method" type="hidden" value="POST">
    {{ $user := .resp.Data }}
    <table>
        <tbody>
        <tr>
            <td><span style="font-weight: bold;">*</span><label>{{ Localize "i18n.userName" }}</label></td>
            <td><input name="name" type="text" value="{{ $user.Name }}"></td>
        </tr>
        <tr>
            <td><label>{{ Localize "i18n.nickname" }}</label></td>
            <td><input name="nickname" type="text" value="{{ $user.Nickname }}"></td>
        </tr>
        <tr>
            <td><span style="font-weight: bold;">*</span><label>{{ Localize "i18n.passwd" }}</label></td>
            <td><input name="passwd" type="password"></td>
        </tr>
        <tr>
            <td><span style="font-weight: bold;">*</span><label>{{ Localize "i18n.rePasswd" }}</label></td>
            <td><input name="rePasswd" type="password"></td>
        </tr>
        <tr>
            <td><label>{{ Localize "i18n.rem" }}</label></td>
            <td><textarea name="rem" type="text">{{ $user.Rem }}</textarea></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">
                <input type="submit" value='{{ Localize "i18n.signUp" }}'>
                <span style="padding-left: 10px">{{ Localize "i18n.alreadyHaveAnAccount" }}</span>
                <a href="{{ .contextPath }}/user/signin?t={{ NowUnix }}" style="padding-left: 5px">{{ Localize "i18n.signIn" }}</a>
            </td>
        </tr>
        </tfoot>
    </table>
</form>
</body>
{{ template "common/foot1" . }}
</html>