<!--
 | @author xiangqian
 | @date 22:37 2023/06/13
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="{{ .arg.Path }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ .arg.Path }}/static/css/body.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .arg.Path }}/static/css/cbody.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .arg.Path }}/static/css/cfoot1.css" type="text/css"/>
    <title>{{ Localize "i18n.signin" }}</title>
    <style>
        cbody table tbody tr:hover {
            background-color: white;
        }
    </style>
</head>
<body>

<cbody>
    <form action="{{ .arg.Path }}/user/signin0?t={{ NowUnix }}" method="post">
        <msg>{{ .resp.Msg }}</msg>
        {{ $data := .resp.Data }}
        <table>
            <tbody>
            <tr>
                <td><span style="font-weight: bold;">*</span><label>{{ Localize "i18n.userName" }}</label></td>
                <td><input name="name" type="text" value="{{ $data.Name }}"></td>
            </tr>
            <tr>
                <td><span style="font-weight: bold;">*</span><label>{{ Localize "i18n.passwd" }}</label></td>
                <td><input name="passwd" type="password"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value='{{ Localize "i18n.signin" }}'>
                    <a style="padding-left: 10px" href="{{ .arg.Path }}/user/signup?t={{ NowUnix }}">{{ Localize "i18n.signup" }}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</cbody>

{{ template "common/cfoot1.html" . }}

</body>
</html>