<!--
 | @author xiangqian
 | @date 23:32 2023/07/10
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" rel="external nofollow" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/custom/body.css" type="text/css"/>
    <link rel="stylesheet" href="/static/custom/cbody.css" type="text/css"/>
    <link rel="stylesheet" href="/static/custom/cfoot1.css" type="text/css"/>
    <title>{{ Localize "i18n.signup" }}</title>
    <style>
        cbody table tbody tr:hover {
            background-color: white;
        }
    </style>
</head>
<body>

<cbody>
    <form action="/user/signup0?t={{ NowUnix }}" method="post">
        <msg>{{ .resp.Msg }}</msg>
        {{ $data := .resp.Data }}
        <table>
            <tbody>
            <tr>
                <td>*<label>{{ Localize "i18n.userName" }}</label></td>
                <td><input name="name" type="text" value="{{ $data.Name }}"></td>
            </tr>
            <tr>
                <td><label>{{ Localize "i18n.nickname" }}</label></td>
                <td><input name="nickname" type="text" value="{{ $data.Nickname }}"></td>
            </tr>
            <tr>
                <td>*<label>{{ Localize "i18n.passwd" }}</label></td>
                <td><input name="passwd" type="password"></td>
            </tr>
            <tr>
                <td>*<label>{{ Localize "i18n.rePasswd" }}</label></td>
                <td><input name="rePasswd" type="password"></td>
            </tr>
            <tr>
                <td><label>{{ Localize "i18n.rem" }}</label></td>
                <td><textarea name="rem" type="text">{{ $data.Rem }}</textarea></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2">
                    <input type="submit" value='{{ Localize "i18n.signup" }}'>
                    <span style="padding-left: 10px">{{ Localize "i18n.alreadyHaveAnAccount" }}</span>
                    <a href="/user/sigin?t={{ NowUnix }}" style="padding-left: 5px">{{ Localize "i18n.signin" }} →</a>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
</cbody>

{{ template "common/cfoot1.html" . }}

</body>
</html>