<!--
 | @author xiangqian
 | @date 21:39 2023/12/10
 |-->
{{ define "note/list" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="{{ .contextPath }}/static/favicon.ico">
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/body.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/table.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/foot2.css" type="text/css"/>
    <link rel="stylesheet" href="{{ .contextPath }}/static/css/foot1.css" type="text/css"/>
    <title>{{ Localize "i18n.note" .language }}</title>
</head>
<body>
{{ $table := .response.Data.table }}
{{ $pNote := .response.Data.pNote }}
{{ $c := false }}
{{ if eq $table "note" }}
    {{ $c = $pNote.C }}
{{ end }}
<h2><span>Index of </span>{{ if eq $pNote.Id 0 }}<span>/</span>{{ if $c }}*{{ end }}{{ else }}{{ $ids := $pNote.Ids }}{{ if $ids }}{{ $len := len $ids }}{{ if gt $len 0 }}{{ $names := $pNote.Names }}{{ range $index,$id := $ids }}<span>/</span><a href='{{ $.contextPath }}/{{ $table }}?search=pid%3A%20{{ $id }}&t={{ NowUnix }}'>{{ index $names $index }}</a>{{ end }}{{ end }}{{ end }}{{ if $c }}/*{{ end }}{{ end }}</h2>
{{ template "common/variable" . }}
{{ template "common/table" . }}
</body>
{{ template "common/foot2" . }}
{{ template "common/foot1" . }}
</html>
<script type="text/javascript" src="{{ .contextPath }}/static/js/jquery.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/body.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/table.js"></script>
{{ end }}