<!--
 | @author xiangqian
 | @date 19:48 2024/04/24
 |-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/css/highlight.css}" type="text/css" />
    <title th:text="${vo.name}"></title>
</head>
<body>
<pre><code th:text="${vo.content}"></code></pre>
</body>
</html>
<script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/js/highlight.js}"></script>
<script th:inline="javascript">
    ;
    $(function () {
        /* 将Thymeleaf变量赋值给JavaScript变量 */
        const type = /*[[ ${vo.type} ]]*/''

        let language = null
        if (type != null) {
            if (type === 'ts') {
                language = 'typescript'
            } else if (type === 'py') {
                language = 'python'
            } else if (type === 'rb') {
                language = 'ruby'
            } else if (type === 'rs') {
                language = 'rust'
            } else {
                language = type
            }
        }

        if (language != null) {
            console.log('language', language)
            $('code').addClass(language)
            hljs.highlightAll();
        }
    })
    ;
</script>
