<!--
 | @author xiangqian
 | @date 20:27 2023/12/16
 |-->
{{ define "note/md/view" }}
{{ $table := .response.Data.table }}
{{ $data := .response.Data.data }}
{{ $pNote := .response.Data.pNote }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" rel="external nofollow" href="{{ .contextPath }}/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ .contextPath }}/static/css/float.css"/>
    <link rel="stylesheet" type="text/css" href="{{ .contextPath }}/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ .contextPath }}/static/css/highlight.css">
    <link rel="stylesheet" type="text/css" href="{{ .contextPath }}/static/css/markdown_demo.css">
    <title>{{ $data.Name }}</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .toc {
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #f4f4f4;
            border: 1px solid #ddd;
            padding: 10px;
            font-size: 14px;
            line-height: 1.5;
        }
    </style>
</head>
<body>
<div class="full-height" style="padding-top: 15px; padding-bottom: 15px;">
    <!-- 编辑页 -->
    <div id="editor" class="full-height" style="display: none;">
        <textarea class="source full-height" style="resize: none;">{{ $data.Content }}</textarea>
    </div>

    <!-- 渲染页 -->
    <div id="preview" class="col-xs-10 full-height">
        <div class="result-html full-height"></div>
    </div>

    <!-- 目录 -->
    <div class="col-xs-2 full-height">
        <div id="toc" class="full-height"></div>
    </div>
</div>
{{ template "common/float" . }}
</body>
</html>
<script type="text/javascript" src="{{ .contextPath }}/static/js/jquery.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/body.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/float.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/lodash.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/bootstrap.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/markdown_it.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/twemoji.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/markdown_it_emoji.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/markdown_it_sub.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/markdown_it_sup.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/markdown_it_ins.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/markdown_it_mark.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/markdown_it_footnote.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/markdown_it_deflist.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/markdown_it_task_lists.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/markdown_it_anchor.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/markdown_it_toc_done_right.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/highlight.js"></script>
<script type="text/javascript" src="{{ .contextPath }}/static/js/markdown_demo.js"></script>
<script type="text/javascript">
    ;
    $(function () {
        let $body = $($("body")[0])

        let $editor = $("#editor");
        let $preview = $("#preview");

        // 移除以 "col-xs-" 开头的class
        function removeColXsClass(index, className) {
            return (className.match(/(^|\s)col-xs-\S+/g) || []).join(' ');
        }

        // 按下键盘事件
        $body.on('keydown', function (event) {
            // Ctrl + E，切换编辑状态
            if (event.ctrlKey && event.key.toUpperCase() === 'E') {
                $editor.removeClass(removeColXsClass);
                $preview.removeClass(removeColXsClass);

                // 退出编辑
                if ($editor[0].hasAttribute('edit')) {
                    $editor.removeAttr('edit')
                    $editor.css("display", "none");
                    $preview.addClass("col-xs-10");
                }
                // 编辑
                else {
                    $editor.attr('edit', '')
                    $editor.css("display", "");
                    $editor.addClass("col-xs-5");
                    $preview.addClass("col-xs-5");
                }

                // 阻止默认行为
                // Prevent the default handler from running.
                event.preventDefault()
                return
            }

            // Ctrl + S，保存
            if (event.ctrlKey && event.key.toUpperCase() === 'S') {
                let data = new FormData()
                data.append('id', "{{ $data.Id }}")

                let $textarea = $($editor.find('textarea')[0])
                let content = $textarea.val().trim()
                data.append('content', content)

                //  AJAX = 异步 JavaScript 和 XML（Asynchronous JavaScript and XML）。
                // 在不重载整个网页的情况下，AJAX 通过后台加载数据，并在网页上进行显示。

                // $.ajax(url[, options])
                // $.ajax([options])
                $.ajax({
                    // 服务器端地址
                    url: "{{ .contextPath }}/{{ $table }}/{{ $data.Id }}?t={{ NowUnix }}",

                    // 请求方法：GET | POST | PUT | DELETE
                    type: 'POST',

                    // 请求数据
                    data: data,

                    // contentType 发送到服务器的数据类型。
                    // contentType:"form"，发送FormData数据。
                    // 不设置 contentType:"application/json"，数据是以键值对的形式传递到服务器（data: {name: "test"}）；
                    // 设置  contentType:"application/json"，数据是以json串的形式传递到后端（data: '{name: "test"}'），如果传递的是比较复杂的数据（例如多层嵌套数据），这时候就需要设置 contentType:"application/json" 了。
                    // contentType: contentType,

                    // 是否异步请求，true，异步；false，同步。默认 true
                    async: false,

                    // contentType
                    // application/x-www-form-urlencoded
                    // 不处理发送数据
                    processData: false,

                    // 不设置Content-Type请求头
                    contentType: false,

                    // 预期服务器返回的数据类型，当设置dataType："json"时，如果后端返回了String，则ajax无法执行，去掉后ajax会自动检测返回数据类型。可以设为 text、html、script、json、jsonp和xml，和form
                    // dataType: dataType,

                    // 等待的最长毫秒数。如果过了这个时间，请求还没有返回，则自动将请求状态改为失败。
                    // timeout: 30 * 1000,

                    // 浏览器是否缓存服务器返回的数据，默认为true，注：浏览器本身不会缓存POST请求返回的数据，所以即使设为false，也只对HEAD和GET请求有效。
                    // cache: cache,

                    // 指定发出请求前，所要调用的函数，通常用来对发出的数据进行修改。
                    // beforeSend: beforeSend,

                    // 指定当HTTP请求结束时（请求成功或请求失败的回调函数，此时已经运行完毕）的回调函数。不管请求成功或失败，该回调函数都会执行。它的参数为发出请求的原始对象以及返回的状态信息。
                    complete: function (xhr, status) {
                    },

                    // 请求成功回调函数
                    success: function (data, status, xhr) {
                        if (data !== "") {
                            alert(data)
                            return
                        }
                        alert('保存成功')
                        return
                    },

                    // 请求错误回调函数
                    error: function (xhr, status, error) {
                        alert(`${status}，${error}`)
                    }
                })

                // 阻止默认行为
                // Prevent the default handler from running.
                event.preventDefault()
                return
            }
        })
    })
    ;
</script>
{{ end }}